@model List<Idea>

@{
    Layout = "_QAC";
    ViewData["Title"] = "List Idea";
    <link rel="stylesheet" href="~/css/res_qa_idea.css" />
    var count = 0;
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Quality Assurance Coordinator"))
{
    <div class="idea">
        @{
            int next = int.Parse(@ViewBag.PageNum.ToString()) + 1;
            int pre = int.Parse(@ViewBag.PageNum.ToString()) - 1;
            var viewType = @ViewBag.ViewType;
        }
        <div class="paginations" style=" border-radius: 3em">
            @if (pre > 0)
            {
                <div class="prev">
                    <span class="text" onclick="BtnPre()">Prev</span>
                    <div class="left">
                    </div>
                </div>
            }
            @if (next * 25 - ViewBag.Total < 25)
            {
                <div class="next">
                    <span class="text" id="BtnNext" onclick="BtnNext()">Next</span>
                    <div class="right">
                    </div>
                </div>
            }
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Content</th>
                    <th scope="col">Date</th>
                    <th scope="col">First Closure</th>
                    <th scope="col">Last Closure</th>
                    <th scope="col">Anonymous</th>
                    <th scope="col">View</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category </th>
                    <th scope="col">Thumbs Up</th>
                    <th scope="col">Thumbs Down</th>
                    <th scope="col">Document</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model)
                {
                    <tr>
                        <td>@i.IdeaId</td>
                        <td>@i.idea_title</td>
                        <td>@i.idea_content</td>
                        <td>@i.created_date</td>
                        <td>@i.Event.First_closure_date</td>
                        <td>@i.Event.Last_closure_date</td>
                        @if (i.idea_anonymous == true)
                        {
                            <td>Yes</td>
                        }
                        else
                        {
                            <td>No</td>
                        }
                        <td>@i.idea_view</td>
                        <td>@i.Profile.Name</td>
                        <td>@i.Category.category_name</td>
                        <td>@i.Reacpoint.ThumbUp</td>
                        <td>@i.Reacpoint.ThumbDown</td>
                        @foreach(var d in ViewBag.Documents)
                        {
                            if(d.IdeaId == i.IdeaId)
                            {
                                 count++; 
                            }
                            else
                            {
                                count = 0;
                            }
                        }
                        @if(count == 0)
                        {
                            <td>None</td>
                        }
                        else
                        {
                            <td><a asp-action="DownloadEachFile" asp-controller="QACoordinator" asp-route-id="@i.IdeaId">@count documents</a></td>
                        }

                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script>
        function BtnNext() {
            window.location.replace('/QACoordinator/ListIdea?pageNum=@next&viewType=@viewType');
        }
        function BtnPre() {
            window.location.replace('/QACoordinator/ListIdea?pageNum=@pre&viewType=@viewType');
        }
    </script>
}