@model List<Idea>

@{
    Layout = "_QAC";
    ViewData["Title"] = "List Idea";
    <link rel="stylesheet" href="~/css/res_qa_idea.css" />
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Quality Assurance Coordinator"))
{
    <div class="idea">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Content</th>
                    <th scope="col">Date</th>
                    <th scope="col">First Closure</th>
                    <th scope="col">Last Closure</th>
                    <th scope="col">Anonymous</th>
                    <th scope="col">View</th>
                    <th scope="col">Name</th>
                    <th scope="col">Category </th>
                    <th scope="col">Thumbs Up</th>
                    <th scope="col">Thumbs Down</th>
                    <th scope="col">Document</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model)
                {
                    <tr>
                        <td>@i.IdeaId</td>
                        <td>@i.idea_title</td>
                        <td>@i.idea_content</td>
                        <td>@i.created_date</td>
                        <td>@i.Event.First_closure_date</td>
                        <td>@i.Event.Last_closure_date</td>
                        <td>@i.idea_anonymous</td>
                        <td>@i.idea_view</td>
                        <td>@i.Profile.Name</td>
                        <td>@i.Category.category_name</td>
                        <td>@i.Reacpoint.ThumbUp</td>
                        <td>@i.Reacpoint.ThumbDown</td>
                        <td>doc.file</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}