@using Microsoft.AspNetCore.Identity
@inject UserManager<Profile> UserManager
@model COMP1640.Models.Idea
@{
    Layout = "_Staff";
    <link rel="stylesheet" href="~/css/detail.css" />
    var nums_coms = ViewBag.Comments.Count;
    var react_point = ViewBag.ThumbUp - ViewBag.ThumbDown;
    string userid = UserManager.GetUserId(User);
    Profile logginnedUser = (Profile)ViewBag.LogginedUser;
    var info = "2";
    if (@ViewBag.UserReact != null)
    {
        info = @ViewBag.UserReact.ToString().ToLower();
    }
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Staff"))
{
    <div class="detail_idea">
        <div class="col-lg-12">
            <div class="sub_container col-lg-6">
                <div class="information_idea">
                    <div class="Infor_idea" style="width: inherit">
                        <div class="detail_idea nav_bar--item--separate2">
                            <div class="avata_information_idea" style="width: 100%">
                                <figure>

                                    @if (@Model.idea_anonymous)    @*Anonymous*@
                                    {
                                        <a style="text-decoration: none">
                                            <img style="width: 60px; height: 60px; border-radius: 50%; display: inline-block" src="https://cdn.pixabay.com/photo/2016/04/01/10/11/avatar-1299805_1280.png" alt="avatar" /> <div class="name_account">
                                                <h4 style="font-size: 16px;padding-top: -600px; width: 230px;">Anonymous</h4><h5 style="font-size: 14px;padding-top: -600px; width: 230px; color: black; margin-left: 70px">@Model.created_date</h5>
                                            </div>
                                        </a>
                                    }
                                    else
                                    {
                                        <a style="text-decoration: none" href="/Staff/Profile?id=@Model.Profile.Id&pagenum=1&viewtype=latest">
                                            <img style="width: 60px; height: 60px; border-radius: 50%; display: inline-block" src="/Avatars/@Model.Profile.Avatar" alt="avatar" /> <div class="name_account">
                                                <h4 style="font-size: 16px;padding-top: -600px; width: 230px">@ViewBag.Name</h4><h5 style="font-size: 14px;padding-top: -600px; width: 230px; color: black; margin-left: 70px">@Model.created_date</h5>
                                            </div>
                                        </a>
                                    }
                                </figure>
                            </div>
                            @* <div>
                        <img src="~/fb-icons/more.svg" alt="gallery">
                        </div>*@
                            <div class="drop_down">
                                @if (Model.ProfileId.ToString().Equals(@logginnedUser.Id))
                                {
                                    <a style="color: #373b3f; border-radius: 50%;" href="#" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                        <img src="~/fb-icons/more.svg" alt="gallery">
                                    </a>
                                    <div class="dropdown-menu">
                                        <div class="agile_inner_drop_nav_info p-4">
                                            <div class="row">
                                                <div class="col-sm-6 multi-gd-img">
                                                    <ul>
                                                        @if (ViewBag.FDate > DateTime.UtcNow && @Model.ProfileId.Equals(@logginnedUser.Id))
                                                        {
                                                            <li class="nav_bar--item "><a style="color: #797979; text-decoration: none" asp-action="EditIdea" asp-controller="Staff" asp-route-id="@Model.IdeaId">Edit</a></li>
                                                            <li class="nav_bar--item ">
                                                                <a style="color: #797979; text-decoration: none" asp-action="DeleteIdea" asp-controller="Staff" asp-route-id="@Model.IdeaId"
                                                             onclick="return confirm('Are you sure to remove this idea?')">
                                                                    Delete
                                                                </a>
                                                            </li>
                                                        }
                                                        else if (@Model.ProfileId.Equals(@logginnedUser.Id))
                                                        {
                                                            <li class="nav_bar--item ">
                                                                <a style="color: #797979; text-decoration: none" asp-action="DeleteIdea" asp-controller="Staff" asp-route-id="@Model.IdeaId"
                                                             onclick="return confirm('Are you sure to remove this idea?')">
                                                                    Delete
                                                                </a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="content">
                                @*   <div class="img_idea">*@
                                <div class="title_idea">
                                    <div class="tag">
                                        <a asp-action="" asp-controller="">
                                            <span>@Model.Category.category_name</span>
                                        </a>
                                    </div>
                                    <h1 class="lead">@Model.idea_title</h1>
                                </div>
                                @foreach (var doc in ViewBag.Documents)
                                {
                                    <div class="file_idea" style="text-align: center">
                                        @*<a asp-action="Detail" asp-controller="Home">
                                <img style="width: 550px; height: 400px; padding-left: -50px; transform: translateX(-44.3%)" src="https://diachishophoa.com/uploads/noidung/images/hoasinhnhatmauxanh-1530218652.jpg"
                                title="Image_idea" />
                                </a>*@
                                        <a asp-action="DownloadFile" asp-controller="Staff" asp-route-id="@doc.DocId">
                                            @doc.doc_name
                                        </a>

                                    </div>
                                }

                                <h2 class="content_post">@Model.idea_content</h2>
                                @*  </div>*@
                            </div>
                        </div>
                        <div class="felling nav_bar--item--separate3">
                            <div class="more">
                                <ul class="felling_idea">
                                    <li><a style="color:green" asp-action="" asp-controller=""><i class="fa-regular fa-eye"></i></a>@Model.idea_view</li>

                                    <li>
                                        <label placeholder="React point: "><p id="total">@react_point</p></label>
                                    </li>

                                    <li>
                                        <i type="button" id="TU" onclick="btnThumbUp(this)" class="fa-regular fa-thumbs-up" style="color: green"></i>
                                    </li>

                                    <li>
                                        <i type="button" id="TD" onclick="btnThumbDown(this)" class="fa-regular fa-thumbs-down" style="color:green"></i>
                                    </li>

                                    <li>
                                        <a style="color:green">
                                            <i class="fa-regular fa-comment"></i>
                                            <span id="comment-numbers">@nums_coms</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="comment_idea">
                            <div class="com_idea_avata">
                                <figure class="avata_comment">
                                    <a href ="/Staff/Profile?id=@logginnedUser.Id&pagenum=1&viewtype=latest">
                                        <img style="width: 60px; height: 60px; border-radius: 50%; display: inline-block" src="/Avatars/@logginnedUser.Avatar"
                                         alt="avata" />
                                    </a>
                                </figure>
                            </div>
                            <div class="comment" style=" position: static; z-index: 5;">
                                <div class="form-group">
                                    @if (ViewBag.LDate > DateTime.UtcNow)
                                    {
                                        <form method="POST">
                                            <div style="text-decoration: none">
                                                <textarea rows="9" cols="70" style="height: 40px" class="form-control" rows="5" id="com-content" placeholder="Post your comment..."></textarea>
                                            </div>
                                            <label class="switch" value="true">
                                                <input type="checkbox" id="com-anonymous">

                                                <div class="slider"></div>
                                                <div class="slider-card">
                                                    <div class="slider-card-face slider-card-front"></div>
                                                    <div class="slider-card-face slider-card-back"></div>
                                                </div>
                                            </label>
                                            <input type="hidden" id="profileId" value="@userid" />
                                            <input type="hidden" id="ideaId" value="@Model.IdeaId" />
                                            <button type="button" class="btn btn-outline-success" id="btnComment" onclick="SubmitComment()">Add</button>
                                        </form>
                                    }
                                    else
                                    {
                                        <div style="text-decoration: none">
                                            <textarea disabled rows="9" cols="70" style="height: 40px" class="form-control" rows="5" id="com-content" placeholder="Post your comment..."></textarea>
                                        </div>
                                        <label class="switch" value="true">
                                            <input type="checkbox" id="com-anonymous">

                                            <div class="slider"></div>
                                            <div class="slider-card">
                                                <div class="slider-card-face slider-card-front"></div>
                                                <div class="slider-card-face slider-card-back"></div>
                                            </div>
                                        </label>
                                        <button type="button" class="btn btn-outline-success">Add</button>
                                    }
                                </div>
                            </div>

                            <div class="dropdown_comment">
                                <div class="btn_dropdown dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-solid fa-filter"></i>
                                </div>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" onclick="FilterComment(@Model.IdeaId,0)">Oldest Comments</a>
                                    <a class="dropdown-item" onclick="FilterComment(@Model.IdeaId,1)">Lastest Comments</a>
                                </div>
                            </div>

                            <div class="commented">
                                <div class="appear_idea" id="display-comment">
                                    @*old commented*@
                                    @foreach (var com in ViewBag.Comments)
                                    {
                                        <div class="ap_idea_avata">
                                            <figure class="account">
                                                @if (@com.com_anonymous)
                                                {
                                                    <a href=""><img src="/images/avatar_anonymous.png" alt="avata" /></a>

                                                }
                                                else
                                                {
                                                    <a href="/Staff/Profile?id=@com.Profile.Id&pagenum=1&viewtype=latest"><img src="/Avatars/@com.Profile.Avatar" alt="avatar" /></a>
                                                }
                                            </figure>
                                            <div class="info_comment">
                                                <div class="comment1_idea">
                                                    @if (@com.com_anonymous)
                                                    {
                                                        <h4 style="font-size: 16px; font-weight: bold;">Anonymous</h4>
                                                    }
                                                    else
                                                    {
                                                        <h4 style="font-size: 16px; font-weight: bold;">@com.Profile.Name</h4>
                                                    }
                                                    <span>@com.com_content</span>

                                                </div>
                                                <h5 style="font-size: 12px; width: 100%; color: dimgray;">@com.created_date</h5>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile col-lg-4">
                <aside class="Info_account">
                    <div class="title nav_bar--item--separate4">
                        <p class="title">About Community</p>
                    </div>
                    <div class="avata_information_idea">
                        <figure>
                            <a style="text-decoration: none" href="/Staff/Profile?id=@Model.Profile.Id&pagenum=1&viewtype=latest">
                                <img style="width: 60px; height: 60px; border-radius: 50%; display: inline-block" src="/Avatars/@Model.Profile.Avatar"
                                 alt="avata" />
                                <div class="name_account">
                                    <h4 style="font-size: 16px;padding-top: -600px; width: 230px">@ViewBag.Name</h4>
                                    <h5 style="font-size: 14px;padding-top: -600px; width: 230px; color: black; margin-left: 70px"></h5>
                                </div>
                            </a>
                        </figure>

                        <div class="description_account">
                            <p>
                                Hello! you can follow me...
                                Welcome to the wholesome side of the internet! This community is for those searching for a way to capture virtue on the internet.
                            </p>

                        </div>
                        <div class="friend">
                            <button onclick="myFunction()">
                                Followers
                                <span class="followers">&nbsp; 65.7K </span>
                            </button>
                        </div>
                        <div class="page-likes">
                            <div class="tab-content">
                                <div class="tab-pane active fade show " id="link1">
                                    @* <span><i class="ti-heart"></i>884</span>*@
                                    <a class="title" href="" title="weekly-likes">35 new likes this week</a>
                                    <div class="users-thumb-list">
                                        <a href="#" title="Anderw" data-toggle="tooltip">
                                            <img src="/images/friends/ffm1.jpeg" alt="friend1">
                                        </a>
                                        <a href="#" title="frank" data-toggle="tooltip">
                                            <img src="/images/friends/ffm2.jpeg" alt="friend2">
                                        </a>
                                        <a href="#" title="Sara" data-toggle="tooltip">
                                            <img src="/images/friends/fm1.jpeg" alt="friend3">
                                        </a>
                                        <a href="#" title="Amy" data-toggle="tooltip">
                                            <img src="/images/friends/ffm3.jpeg" alt="friend4">
                                        </a>
                                        <a href="#" title="Ema" data-toggle="tooltip">
                                            <img src="/images/friends/fm2.jpeg" alt="friend5">
                                        </a>
                                        <a href="#" title="Sophie" data-toggle="tooltip">
                                            <img src="/images/friends/fm3.jpeg" alt="friend6">
                                        </a>
                                        <a href="#" title="Maria" data-toggle="tooltip">
                                            <img src="/images/friends/fl1.jpg" alt="friend7">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    @*<button id="btn" onclick="myFunction()">Click vào đây</button>*@

    @*28/2/2023*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/js/filter-comment.js"></script>
    <script type="text/javascript">
        function myFunction() {
            alert("Thank you for following me!");
        }
        @*send comment to controller*@

        $("#com-content").keyup(function(event) {
        if (event.keyCode === 13) {
            SubmitComment();
            $("#com-content").val("");
        }
        });

        function SubmitComment() {
            if ($("#com-content").val().length>0){
                var anonymous = false;
                if ($("#com-anonymous").prop("checked")) anonymous = true
                $.ajax({
                    url: "/Staff/Comment",
                    type: "POST",
                    data: {
                        com_content: $("#com-content").val(),
                        com_anonymous: anonymous,
                        ProfileId: $("#profileId").val(),
                        IdeaId: $("#ideaId").val()
                    },
                    success: function (res) {
                        var result = JSON.parse(res)
                        if (result.Content != null) {
                            $("#comment-numbers").html(`${result.ComNumber}`)
                            if (result.Anonymous) {
                                $("#display-comment").append('<div class="ap_idea_avata"> <figure class="account"> <a asp-action="Profile" asp-controller="Staff"> <img src="https://cdn.pixabay.com/photo/2016/04/01/10/11/avatar-1299805_1280.png" alt="avata" /> </a> </figure> </div>')
                                $("#display-comment").append('<div class="info_comment"> <div class="comment1_idea"><h4 style="font-size: 16px; font-weight: bold;">Anonymous</h4><span>' + result.Content + '</span></div> <h5 style="font-size: 12px; width: 100%; color: dimgray;">' + result.Time + '</h5></div>')
                            } else {
                                $("#display-comment").append('<div class="ap_idea_avata"> <figure class="account"> <a asp-action="Profile" asp-controller="Staff"> <img src="/Avatars/' + result.Avatar + '" alt="avata" /> </a> </figure> </div>')
                                $("#display-comment").append('<div class="info_comment"> <div class="comment1_idea"><h4 style="font-size: 16px; font-weight: bold;">' + result.Name + '</h4><span>' + result.Content + '</span></div> <h5 style="font-size: 12px; width: 100%; color: dimgray;">' + result.Time + '</h5></div>')
                            }
                        }
                    },
                    error: function (err) {

                        console.log(err)
                    }
                })
            }

        }

        var theLock = 0;
        $(document).ready(function () {
            if (@info == true) {
                $("#TU").removeClass("fa-regular");
                $("#TU").addClass("fa-solid");
                theLock = 1;
            }
            else if (@info == false) {
                $("#TD").removeClass("fa-regular");
                $("#TD").addClass("fa-solid");
                theLock = 2;
            }
        });

        function btnThumbUp(x) {
            var save = {
                IdeaId: @Model.IdeaId,
                ProfileId: "@userid",
                Reacted: true
            };

            @*Lock 1 #1*@
            if ($("#TU").hasClass("fa-solid") == true && theLock == 1) {
                var obj = {
                    ReactPointId: @Model.ReactPointId,
                    ThumbUp: @ViewBag.ThumbUp - 1,
                    ThumbDown: @ViewBag.ThumbDown
                };
                Submit(obj);
                Delete(save);
            }
            @*Lock 1 #2 + 3*@
            else if ($("#TU").hasClass("fa-solid") == false && theLock == 1) {
                var obj = {
                    ReactPointId: @Model.ReactPointId,
                    ThumbUp: @ViewBag.ThumbUp,
                    ThumbDown: @ViewBag.ThumbDown
                };
                Submit(obj);
                Save(save);
            }
            @*Lock 1 #3 --> $("#TD").hasClass("fa-solid") == true / #2 = false*@
            @*--------------------------------------------------------------------------------------------------------*@
            @*counter Lock 2 #2 + 1*@
            else if ($("#TU").hasClass("fa-solid") == false && theLock == 2) {
                var obj = {
                    ReactPointId: @Model.ReactPointId,
                    ThumbUp: @ViewBag.ThumbUp + 1,
                    ThumbDown: @ViewBag.ThumbDown -1
                };
                Submit(obj);
                Save(save);
            }
            @*counter Lock 2 #1 --> $("#TD").hasClass("fa-solid") == false / #2 = true*@
            @*counter Lock 2 #3*@
            else if ($("#TU").hasClass("fa-solid") == true && theLock == 2) {
                var obj = {
                    ReactPointId: @Model.ReactPointId,
                    ThumbUp: @ViewBag.ThumbUp,
                    ThumbDown: @ViewBag.ThumbDown - 1
                };
                Submit(obj);
                Delete(save);
            }
            @*--------------------------------------------------------------------------------------------------------*@
            @*Lock 0 #1 + 3*@
            else if ($("#TU").hasClass("fa-solid") == false && theLock == 0) {
                var obj = {
                    ReactPointId: @Model.ReactPointId,
                    ThumbUp: @ViewBag.ThumbUp + 1,
                    ThumbDown: @ViewBag.ThumbDown
                };
                Submit(obj);
                Save(save);
            }
            @*Lock 0 #2*@
            else if ($("#TU").hasClass("fa-solid") == true && theLock == 0) {
                var obj = {
                    ReactPointId: @Model.ReactPointId,
                    ThumbUp: @ViewBag.ThumbUp,
                    ThumbDown: @ViewBag.ThumbDown
                    };
                Submit(obj);
                Delete(save);
            }
            @*counter Lock 0 #3 --> $("#TD").hasClass("fa-solid") == true / #1 = false*@

            TheToggle(x);
            if ($("#TD").hasClass("fa-solid") == true) {
                $("#TD").removeClass("fa-solid");
                $("#TD").addClass("fa-regular");
            }
        };

        function btnThumbDown(x) {
            var save = {
                IdeaId: @Model.IdeaId,
                ProfileId: "@userid",
                Reacted: false
            };

            @*counter Lock 1 #2 + 1*@
            if (theLock == 1 && $("#TD").hasClass("fa-solid") == false) {
                var obj = {
                    ReactPointId: @Model.ReactPointId,
                    ThumbUp: @ViewBag.ThumbUp - 1,
                    ThumbDown: @ViewBag.ThumbDown + 1
                };
                Submit(obj);
                Save(save);
            }
            @*counter Lock 1 #1 --> $("#TU").hasClass("fa-solid") == false / #2 = true*@
            @*counter Lock 1 #3*@
            else if (theLock == 1 && $("#TD").hasClass("fa-solid") == true) {
                var obj = {
                    ReactPointId: @Model.ReactPointId,
                    ThumbUp: @ViewBag.ThumbUp - 1,
                    ThumbDown: @ViewBag.ThumbDown
                };
                Submit(obj);
                Delete(save);
            }
            @*------------------------------------------------------------------------------------------------------------*@
            @*Lock 2 #1*@
            else if (theLock == 2 && $("#TD").hasClass("fa-solid") == true) {
                var obj = {
                    ReactPointId: @Model.ReactPointId,
                    ThumbUp: @ViewBag.ThumbUp,
                    ThumbDown: @ViewBag.ThumbDown - 1
                };
                Submit(obj);
                Delete(save);
            }
            @*Lock 2 #2 + 3*@
            else if (theLock == 2 && $("#TD").hasClass("fa-solid") == false) {
                var obj = {
                    ReactPointId: @Model.ReactPointId,
                    ThumbUp: @ViewBag.ThumbUp,
                    ThumbDown: @ViewBag.ThumbDown
                };
                Submit(obj);
                Save(save);
            }
            @*Lock 2 #3 --> $("#TU").hasClass("fa-solid") == true / #2 = false*@

            @*------------------------------------------------------------------------------------------------------------*@
            @*Lock 0 #1 +3*@
            else if (theLock == 0 && $("#TD").hasClass("fa-solid") == false) {
                var obj = {
                    ReactPointId: @Model.ReactPointId,
                    ThumbUp: @ViewBag.ThumbUp,
                    ThumbDown: @ViewBag.ThumbDown + 1,
                };
                Submit(obj);
                Save(save);
            }
            @*Lock 0 #2*@
            else if (theLock == 0 && $("#TD").hasClass("fa-solid") == true) {
                var obj = {
                    ReactPointId: @Model.ReactPointId,
                    ThumbUp: @ViewBag.ThumbUp,
                    ThumbDown: @ViewBag.ThumbDown
                };
                Submit(obj);
                Delete(save);
            }
            @*counter Lock 0 #3 --> $("#TU").hasClass("fa-solid") == true / #1 = false*@

            TheToggle(x);
            if ($("#TU").hasClass("fa-solid") == true) {
                $("#TU").removeClass("fa-solid");
                $("#TU").addClass("fa-regular");
            }
        }

        function TheToggle(x) {
            x.classList.toggle("fa-solid");
            x.classList.toggle("fa-regular");
        }

        function Submit(obj) {
            $.ajax({
                url: "/Staff/ReactPoint",
                method: "POST",
                data: JSON.stringify(obj),
                dataType: "json",
                contentType: 'application/json',
                success: function (data) {
                    console.log(data)
                    result = JSON.parse(data)
                    if (result.ThumbDown >= 0) {
                        $("#total").text(result.ThumbUp - result.ThumbDown)
                    }
                    else {
                        $("#total").text(result.ThumbUp + result.ThumbDown)
                    }
                },
                error: function (err) {
                    console.log(err)
                }
            })
        }

        function Save(save) {
            $.ajax({
                url: "/Staff/React",
                method: "POST",
                data: JSON.stringify(save),
                dataType: "json",
                contentType: 'application/json',
                success: function (data) {
                    console.log(data)
                },
                error: function (err) {
                    console.log(err)
                }
            })
        }

        function Delete(save) {
            $.ajax({
                url: "/Staff/DeleteReact",
                method: "POST",
                data: JSON.stringify(save),
                dataType: "json",
                contentType: 'application/json',
                success: function () {
                    //console.log(data)
                },
                error: function () {
                    //console.log(err)
                }
            })
        }

    </script>

    <script>
        var myModal = document.getElementById('myModal')
        var myInput = document.getElementById('myInput')

        myModal.addEventListener('shown.bs.modal', function () {
            myInput.focus()
        })
    </script>
}
