@model List<COMP1640.Controllers.StaffController.PostViewModel>
@{
    Layout = "_Staff";
    <link rel="stylesheet" href="~/css/profile.css" />
    Profile logginnedUser = (Profile)ViewBag.LogginedUser;
    var ideas = ViewBag.Ideas as List<Idea>;
    var pro = ViewBag.Pro;

    string findTU(int ideaId, bool? isLikedByCurrentUser)
    {
        if (isLikedByCurrentUser == true)
        {
            return "fa-solid";
        }
        else if (isLikedByCurrentUser == false)
        {
            return "fa-regular";
        }
        else
        {
            return "";
        }
    }
    string findTD(int ideaId, bool? isLikedByCurrentUser)
    {
        if (isLikedByCurrentUser == false)
        {
            return "fa-solid";
        }
        else if (isLikedByCurrentUser == true)
        {
            return "fa-regular";
        }
        else
        {
            return "";
        }
    }
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Staff"))
{
    <div class="profile">
        <div class="header_pro">

            <div class="cover_img">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/images/profile_them/theme1.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/profile_them/theme2.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/profile_them/theme3.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

            <div class="avata_profile">
                <div class="avatar">
                    <figure>
                        <img src="/Avatars/@pro.Avatar"
                         alt="avata" />
                    </figure>
                </div>
                <div class="infor_account">
                    <div class="name_profile">
                        <h4>@pro.Name</h4>
                    </div>
                    <a class="title" href="" title="weekly-likes">Friend..</a>
                    <div class="users-thumb-list">
                        <a href="#" title="Anderw" data-toggle="tooltip">
                            <img src="/images/friends/ffm1.jpeg" alt="friend1">
                        </a>
                        <a href="#" title="frank" data-toggle="tooltip">
                            <img src="/images/friends/ffm2.jpeg" alt="friend2">
                        </a>
                        <a href="#" title="Sara" data-toggle="tooltip">
                            <img src="/images/friends/fm1.jpeg" alt="friend3">
                        </a>
                        <a href="#" title="Amy" data-toggle="tooltip">
                            <img src="/images/friends/ffm3.jpeg" alt="friend4">
                        </a>
                        <a href="#" title="Ema" data-toggle="tooltip">
                            <img src="/images/friends/fm2.jpeg" alt="friend5">
                        </a>
                        <a href="#" title="Sophie" data-toggle="tooltip">
                            <img src="/images/friends/fm3.jpeg" alt="friend6">
                        </a>
                        <a href="#" title="Maria" data-toggle="tooltip">
                            <img src="/images/friends/fl1.jpg" alt="friend7">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="col-lg-12">
                <div class="row merged20" id="page-contents">
                    <div class="sub_container col-lg-3">
                        <div class="sidebar static">
                            <div class="widget">
                                <h4 class="widget-title"><b> Information</b></h4>
                                <div class="wall">
                                    <span>Wellcome to my wall &nbsp<i style="color: #d391b2" class="fa-regular fa-face-smile-wink"></i></span>
                                </div>
                                <ul class="Shortcuts nav_bar--item--separate2">
                                    <li class="nav_bar--item "><i class="fa-solid fa-street-view"></i>Address: @pro.Address</li>
                                    <li class="nav_bar--item "><i class="fa-solid fa-transgender"></i>Gender: @pro.Gender</li>
                                    <li class="nav_bar--item "><i class="fa-solid fa-phone-volume"></i>Phone: @pro.PhoneNumber</li>
                                    <li class="nav_bar--item "><i class="fa-solid fa-envelope-open-text"></i>Email: @pro.Email</li>
                                    <li class="nav_bar--item "><i class="fa-regular fa-building"></i>Department: @pro.Department.Dep_name</li>
                                </ul>
                                <ul class="Shortcuts">
                                    <li class="nav_bar--item ">
                                        <i class="fa-solid fa-right-from-bracket"></i>
                                        <a style="text-decoration: none;" asp-area="Identity" asp-page="/Account/Manage/Index">Edit information</a>
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <div class="idea">
                                <h4 class="widget-title"><b>Most Popular Ideas</b></h4>
                                <ul class="Shortcuts">
                                    <li class="nav_bar--item "><i class="fa-solid fa-street-view"></i><a asp-controller="Staff" asp-action="Profile" asp-route-id="@pro.Id" asp-route-orderby="mostview">Most Viewed Ideas</a></li>
                                    <li class="nav_bar--item "><i class="fa-solid fa-face-laugh-wink"></i><a asp-controller="Staff" asp-action="Profile" asp-route-id="@pro.Id" asp-route-orderby="popular">Most Popular ideas</a></li>
                                    <li class="nav_bar--item "><i class="fa-regular fa-lightbulb"></i><a asp-controller="Staff" asp-action="Profile" asp-route-id="@pro.Id" asp-route-orderby="latest">Latest Ideas</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="sub_container col-lg-6">
                        @if (logginnedUser.Id.Equals(pro.Id))
                        {
                            <div class="new-post">
                                <div class="avata_post">
                                    <figure>
                                        @*AVATAR*@
                                        <a style="text-decoration: none" asp-controller=" Staff" asp-action="Profile" asp-route-id="@logginnedUser.Id">
                                            <img src="/Avatars/@logginnedUser.Avatar"
                                         alt="avata" />
                                        </a>
                                    </figure>
                                </div>
                                <div class="form_add_idea">
                                    <a style="text-decoration: none; width: 100%" asp-action="AddIdea" asp-controller="Staff">
                                        <input class="form_control" type="text" placeholder="Typing your idea here..." readonly>
                                    </a>
                                </div>
                                <div class="btn_add">
                                    <a style="text-decoration: none; width: 100%" asp-action="AddIdea" asp-controller="Staff">
                                        <button type="button" class="btn btn-success">Add</button>
                                    </a>
                                </div>
                            </div>
                        }

                        @*A post*@
                        <div class="block">
                            @foreach (var idea in Model)
                            {
                                var Tu = @findTU(idea.IdeaId, idea.IsLikedByCurrentUser);
                                var Td = @findTD(idea.IdeaId, idea.IsLikedByCurrentUser);
                                var point = idea.Reacpoint.ThumbUp - @idea.Reacpoint.ThumbDown;
                                <div class="information_idea">
                                    <div class="Infor_idea">
                                        <div class="detail_idea nav_bar--item--separate2">
                                            <div class="avata_information_idea">
                                                <figure>
                                                    <a style="text-decoration: none" asp-controller="Staff" asp-action="Profile" asp-route-id="@idea.Profile.Id">
                                                        <img style="width: 60px; height: 60px; border-radius: 50%; display: inline-block" src="/Avatars/@idea.Profile.Avatar" alt="avatar" />

                                                        <div class="name_account">

                                                            <h4 style="font-size: 16px">@idea.Profile.Name</h4>
                                                            <h5 style="font-size: 14px;padding-top: -600px; color: black; margin-left: 70px;">@idea.created_date</h5>   @*CreatedTime*@
                                                        </div>
                                                    </a>
                                                </figure>
                                            </div>

                                            <div class="content">

                                                <div class="img_idea">
                                                    <div class="title_idea">
                                                        <div class="tag">
                                                            <a asp-action="" asp-controller="">
                                                                <span>@idea.Category.category_name</span>     @*Category*@
                                                            </a>
                                                        </div>
                                                        <div class="title_idea_info">
                                                            <a asp-action="DetailIdea" asp-controller="Staff" asp-route-id="@idea.IdeaId" style="text-decoration:none; color: black;">
                                                                <h1 class="lead">@idea.idea_title</h1>    @*Title*@
                                                            </a>
                                                        </div>
                                                    </div>
                                                    @foreach (var doc in ViewBag.Documents)
                                                    {
                                                        if (doc.IdeaId == idea.IdeaId)
                                                        {
                                                            <div class="file_idea" style="text-align: center">
                                                                <a asp-action="" asp-controller="" asp-route-id="@doc.DocId">
                                                                    @doc.doc_name
                                                                </a>
                                                            </div>
                                                        }
                                                    }
                                                    <div class="file_idea">
                                                        <a asp-action="DetailIdea" asp-controller="Staff" asp-route-id="@idea.IdeaId" style="text-decoration:none; color: black;">
                                                            <h2 class="content_post">@idea.idea_content</h2>
                                                        </a> @*Content*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="felling  nav_bar--item--separate3">
                                            <div class="more">
                                                <ul class="felling_idea">
                                                    <li><a style="color:green" asp-action="" asp-controller=""><i class="fa-regular fa-eye"></i></a>@idea.idea_view</li>
                                                    <li>
                                                        <label placeholder="React point: "><p id="total-@idea.IdeaId">@point</p></label>
                                                    </li>
                                                    @if (idea.IsLikedByCurrentUser != null)
                                                    {
                                                        <li>
                                                            <i type="button" id="TU-@idea.IdeaId"
                                                   onclick="btnThumbUp(@idea.IdeaId, @idea.ReactPointId, @idea.Reacpoint.ThumbUp, @idea.Reacpoint.ThumbDown, '@Tu' )"
                                                   class="fa-thumbs-up @Tu" style="color: green">
                                                            </i>
                                                        </li>
                                                        <li>
                                                            <i type="button" id="TD-@idea.IdeaId"
                                                   onclick="btnThumbDown(@idea.IdeaId, @idea.ReactPointId, @idea.Reacpoint.ThumbUp, @idea.Reacpoint.ThumbDown, '@Td')"
                                                   class="fa-thumbs-down @Td" style="color:green"></i>
                                                        </li>
                                                    }
                                                    else if (idea.IsLikedByCurrentUser == null)
                                                    {
                                                        <li>
                                                            <i type="button" id="TU-@idea.IdeaId"
                                                   onclick="btnThumbUp(@idea.IdeaId, @idea.ReactPointId, @idea.Reacpoint.ThumbUp, @idea.Reacpoint.ThumbDown, '@Tu')"
                                                   class="fa-thumbs-up fa-regular" style="color: green">
                                                            </i>
                                                        </li>
                                                        <li>
                                                            <i type="button" id="TD-@idea.IdeaId"
                                                   onclick="btnThumbDown(@idea.IdeaId, @idea.ReactPointId, @idea.Reacpoint.ThumbUp, @idea.Reacpoint.ThumbDown, '@Td')"
                                                   class="fa-thumbs-down fa-regular" style="color:green"></i>
                                                        </li>
                                                    }
                                                    <li>
                                                        <a style="color:green" asp-action="" asp-controller="">
                                                            <i class="fa-regular fa-comment"></i>
                                                        </a>
                                                        @idea.Comments.Count()
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="comment_idea">
                                            <div class="com_idea_avata">
                                                <a asp-controller="Staff" asp-action="Profile" asp-route-id="@logginnedUser.Id">
                                                    <figure class="avata_comment">
                                                        <img style="width: 60px; height: 60px; border-radius: 50%; display: inline-block" src="/Avatars/@ViewBag.logginedUser.Avatar"
                                                     alt="avata" />
                                                    </figure>
                                                </a>
                                            </div>
                                            <div class="comment" style=" position: static; z-index: 5;">
                                                <div class="form-group">

                                                    <a asp-action="DetailIdea" asp-controller="Staff" asp-route-id="@idea.IdeaId" style="text-decoration: none">
                                                        <input style="height: 40px" class="form-control" rows="5" id="comment" placeholder="Post your comment..." />
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        @*END*@
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="sub_container2 col-lg-3">
                        <div class="advertisement1">
                            <img src="/images/Ads_img/Ad1.jpg" title="QC" />
                        </div>
                        <br>
                        <div class="advertisement2">
                            <img src="/images/Ads_img/Ads2.jpg"
                             title="QC" />
                        </div>
                        <div class="advertisement3">
                            <img src="/images/Ads_img/Ads3.jpg"
                             title="QC" />
                        </div>
                    </div>
                </div>
                @{
                    int next = int.Parse(@ViewBag.PageNum.ToString()) + 1;
                    int pre = int.Parse(@ViewBag.PageNum.ToString()) - 1;
                    var viewType = @ViewBag.ViewType;
                }
                <div class="paginations" style=" border-radius: 3em">
                    @if (pre > 0)
                    {
                        <div class="prev">
                            <span class="text" onclick="BtnPre()">Prev</span>
                        </div>
                    }
                    @if (next * 5 - ViewBag.Total < 5)
                    {
                        <div class="next">
                            <span class="text" id="BtnNext" onclick="BtnNext()">Next</span>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <script>
        function BtnNext() {
            window.location.replace('/Staff/Profile?id=@pro.Id&pageNum=@next&viewType=@viewType');
        }
        function BtnPre() {
            window.location.replace('/Staff/Profile?id=@pro.Id&pageNum=@pre&viewType=@viewType');
        }
    </script>
    <script type="text/javascript">
        function btnThumbUp(IdeaId, ReactPointId, ThumbUp, ThumbDown, theLock) {
            var save = {
                IdeaId: IdeaId,
                ProfileId: "@logginnedUser.Id",
                Reacted: true
            };
            $(`#TD-${IdeaId}`).removeClass("fa-solid");
            $(`#TD-${IdeaId}`).addClass("fa-regular");
        @*Lock #1*@
                            if ($(`#TU-${IdeaId}`).hasClass("fa-solid") == true && theLock == "fa-solid") {
                $(`#TU-${IdeaId}`).removeClass("fa-solid");
                $(`#TU-${IdeaId}`).addClass("fa-regular");
                var obj = {
                    ReactPointId: ReactPointId,
                    ThumbUp: ThumbUp - 1,
                    ThumbDown: ThumbDown
                };
                Submit(obj);
                Delete(save);
            }
            else if ($(`#TU-${IdeaId}`).hasClass("fa-solid") == false && theLock == "fa-solid") {
                $(`#TU-${IdeaId}`).removeClass("fa-regular");
                $(`#TU-${IdeaId}`).addClass("fa-solid");
                var obj = {
                    ReactPointId: ReactPointId,
                    ThumbUp: ThumbUp,
                    ThumbDown: ThumbDown
                };
                Submit(obj);
                Save(save);
            }
        @*Lock #2*@
                            else if ($(`#TU-${IdeaId}`).hasClass("fa-solid") == false && theLock == "fa-regular") {
                $(`#TU-${IdeaId}`).removeClass("fa-regular");
                $(`#TU-${IdeaId}`).addClass("fa-solid");
                var obj = {
                    ReactPointId: ReactPointId,
                    ThumbUp: ThumbUp + 1,
                    ThumbDown: ThumbDown - 1
                };
                Submit(obj);
                Save(save);
            }
            else if ($(`#TU-${IdeaId}`).hasClass("fa-solid") == true && theLock == "fa-regular") {
                $(`#TU-${IdeaId}`).removeClass("fa-solid");
                $(`#TU-${IdeaId}`).addClass("fa-regular");
                var obj = {
                    ReactPointId: ReactPointId,
                    ThumbUp: ThumbUp,
                    ThumbDown: ThumbDown - 1
                };
                Submit(obj);
                Delete(save);
            }
        @*Lock 0*@
                            else if ($(`#TU-${IdeaId}`).hasClass("fa-solid") == false && theLock == "") {
                $(`#TU-${IdeaId}`).removeClass("fa-regular");
                $(`#TU-${IdeaId}`).addClass("fa-solid");
                var obj = {
                    ReactPointId: ReactPointId,
                    ThumbUp: ThumbUp + 1,
                    ThumbDown: ThumbDown
                };
                Submit(obj);
                Save(save);
            }
            else if ($(`#TU-${IdeaId}`).hasClass("fa-solid") == true && theLock == "") {
                $(`#TU-${IdeaId}`).removeClass("fa-solid");
                $(`#TU-${IdeaId}`).addClass("fa-regular");
                var obj = {
                    ReactPointId: ReactPointId,
                    ThumbUp: ThumbUp,
                    ThumbDown: ThumbDown
                };
                Submit(obj);
                Delete(save);
            }
        };

        function btnThumbDown(IdeaId, ReactPointId, ThumbUp, ThumbDown, theLock) {
            var save = {
                IdeaId: IdeaId,
                ProfileId: "@logginnedUser.Id",
                Reacted: false
            };
            $(`#TU-${IdeaId}`).removeClass("fa-solid");
            $(`#TU-${IdeaId}`).addClass("fa-regular");
        @*Lock #1*@
                            if ($(`#TD-${IdeaId}`).hasClass("fa-solid") == false && theLock == "fa-regular") {
                $(`#TD-${IdeaId}`).removeClass("fa-regular");
                $(`#TD-${IdeaId}`).addClass("fa-solid");
                var obj = {
                    ReactPointId: ReactPointId,
                    ThumbUp: ThumbUp - 1,
                    ThumbDown: ThumbDown + 1
                };
                Submit(obj);
                Save(save);
            }
            else if ($(`#TD-${IdeaId}`).hasClass("fa-solid") == true && theLock == "fa-regular") {
                $(`#TD-${IdeaId}`).removeClass("fa-solid");
                $(`#TD-${IdeaId}`).addClass("fa-regular");
                var obj = {
                    ReactPointId: ReactPointId,
                    ThumbUp: ThumbUp - 1,
                    ThumbDown: ThumbDown
                };
                Submit(obj);
                Delete(save);
            }
        @*Lock 2*@
                            else if ($(`#TD-${IdeaId}`).hasClass("fa-solid") == true && theLock == "fa-solid") {
                $(`#TD-${IdeaId}`).removeClass("fa-solid");
                $(`#TD-${IdeaId}`).addClass("fa-regular");
                var obj = {
                    ReactPointId: ReactPointId,
                    ThumbUp: ThumbUp,
                    ThumbDown: ThumbDown - 1
                };
                Submit(obj);
                Delete(save);
            }
            else if ($(`#TD-${IdeaId}`).hasClass("fa-solid") == false && theLock == "fa-solid") {
                $(`#TD-${IdeaId}`).removeClass("fa-regular");
                $(`#TD-${IdeaId}`).addClass("fa-solid");
                var obj = {
                    ReactPointId: ReactPointId,
                    ThumbUp: ThumbUp,
                    ThumbDown: ThumbDown
                };
                Submit(obj);
                Save(save);
            }
        @*Lock 0*@
                            else if ($(`#TD-${IdeaId}`).hasClass("fa-solid") == false && theLock == "") {
                $(`#TD-${IdeaId}`).removeClass("fa-regular");
                $(`#TD-${IdeaId}`).addClass("fa-solid");
                var obj = {
                    ReactPointId: ReactPointId,
                    ThumbUp: ThumbUp,
                    ThumbDown: ThumbDown + 1
                };
                Submit(obj);
                Save(save);
            }
            else if ($(`#TD-${IdeaId}`).hasClass("fa-solid") == true && theLock == "") {
                $(`#TD-${IdeaId}`).removeClass("fa-solid");
                $(`#TD-${IdeaId}`).addClass("fa-regular");
                var obj = {
                    ReactPointId: ReactPointId,
                    ThumbUp: ThumbUp,
                    ThumbDown: ThumbDown
                };
                Submit(obj);
                Delete(save);
            }
        }

        function Submit(obj) {
            $.ajax({
                url: "/Staff/ReactPoint",
                method: "POST",
                data: JSON.stringify(obj),
                dataType: "json",
                contentType: 'application/json',
                success: function (data) {
                    console.log(data)
                    result = JSON.parse(data)
                    $(`#total-${result.ReactPointId}`).text(result.ThumbUp - result.ThumbDown)
                },
                error: function (err) {
                    console.log(err)
                }
            })
        }

        function Save(save) {
            $.ajax({
                url: "/Staff/React",
                method: "POST",
                data: JSON.stringify(save),
                dataType: "json",
                contentType: 'application/json',
                success: function (data) {
                    console.log(data)
                },
                error: function (err) {
                    console.log(err)
                }
            })
        }

        function Delete(save) {
            $.ajax({
                url: "/Staff/DeleteReact",
                method: "POST",
                data: JSON.stringify(save),
                dataType: "json",
                contentType: 'application/json',
                success: function () {
                },
                error: function () {
                }
            })
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
}
