@model List<Idea>;
@{
    Layout = "_Staff";
}

<div class="interface">
    <div class="row col-lg-12" id="page-contents">
        <div class="sub_container col-lg-3">
            <div class="sidebar static">
                <div class="widget">
                    <h4 class="widget-title"><b> Shortcuts</b></h4>
                    <ul class="Shortcuts">
                        <li class="nav_bar--item "><i class="fa-regular fa-paste"></i><a asp-action="ViewPage" asp-controller="Staff">New Feed</a></li>
                        <li class="nav_bar--item "><i class="fa-regular fa-user"></i><a asp-action="Profile" asp-controller="Staff">Profile</a></li>
                        <li class="nav_bar--item "><i class="fa-regular fa-file"></i><a asp-action="Profile" asp-controller="Staff">My page</a></li>
                        <li class="nav_bar--item "><i class="fa-solid fa-right-from-bracket"></i><a asp-action="Login" asp-controller="Staff">Logout</a></li>
                    </ul>
                </div>
                <br>
                <div class="idea">
                    <h4 class="widget-title"><b>Most Popular Ideas</b></h4>
                    <ul class="Shortcuts">
                        <li class="nav_bar--item "><i class="fa-solid fa-street-view"></i><a asp-action="" asp-controller="Staff">Most Viewed Ideas</a></li>
                        <li class="nav_bar--item "><i class="fa-solid fa-face-laugh-wink"></i><a asp-action="" asp-controller="Staff">Most Popular ideas</a></li>
                        <li class="nav_bar--item "><i class="fa-regular fa-lightbulb"></i><a asp-action="" asp-controller="">Latest Ideas</a></li>
                        <li class="nav_bar--item "><i class="fa-regular fa-comments"></i><a asp-action="LastComment" asp-controller="Staff">Latest Comments</a></li>
                    </ul>
                </div>
            </div>
        </div>
        @*        <div class="new_idea">
        <div class="post">*@


        <div class="sub_container col-lg-6">
            <div class="new-post">
                <div class="avata_post">
                    <figure>
                        @*AVATAR*@
                        <a style="text-decoration: none" asp-action="Profile" asp-controller="Staff">
                            <img src="/images/avatar.jpg"
                                 alt="avata" />
                        </a>
                    </figure>
                </div>
                <div class="form_add_idea">
                    <a style="text-decoration: none" asp-action="AddIdea" asp-controller="Staff">
                        <div class="input_idea">
                            <input class="text" type="text" rows="2" />
                            <p style="transform: translate(20%, 30%); color: gray">write a new idea...</p>
                        </div>
                        <button type="button" class="btn btn-outline-success">Add</button>
                    </a>
                </div>
            </div>
            @* <div class="central-meta new-idea">*@


            @*A post*@
            <div class="block">
                @foreach (var idea in Model)
                {
                    <div class="information_idea">
                        <div class="Infor_idea">
                            <div class="detail_idea nav_bar--item--separate2">
                                <div class="avata_information_idea">
                                    <figure>
                                        <a style="text-decoration: none" asp-action="Profile" asp-controller="Staff">
                                            <img style="width: 60px; height: 60px; border-radius: 50%; display: inline-block" src="/images/avatar.jpg"
                                             alt="avata" />
                                            <div class="name_account">
                                                @if (@idea.idea_anonymous)    @*Anonymous*@
                                                {
                                                    <h4 style="font-size: 16px;padding-top: -600px; width: 230px;">Anonymous</h4>
                                                }
                                                else
                                                {
                                                    <h4 style="font-size: 16px">Minh Lưu Thị</h4>
                                                }
                                                <h5 style="font-size: 14px;padding-top: -600px; color: black; margin-left: 70px;">@String.Format("{0:g}", @idea.created_date)</h5>   @*CreatedTime*@
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                                @*<div class="drop_down">
                            <a style="color: #373b3f; border-radius: 50%;" href="#" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <img src="~/fb-icons/more.svg" alt="gallery">
                            </a>
                            <div class="dropdown-menu">
                            <div class="agile_inner_drop_nav_info p-4">
                            <div class="row">
                            <div class="col-sm-6 multi-gd-img">
                            <ul>
                            <li class="nav_bar--item "><a style="color: #797979; text-decoration: none" asp-action="EditIdea" asp-controller="Staff">Edit</a></li>
                            <li class="nav_bar--item "><a style="color: #797979; text-decoration: none" asp-action="DeleteIdea" asp-controller="Staff">Delete</a></li>

                            </ul>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>*@
                                <div class="content">
                                    <div class="img_idea">
                                        <div class="title_idea">
                                            <div class="tag">
                                                <a asp-action="" asp-controller="">
                                                    @foreach (var c in @ViewBag.Category)
                                                    {
                                                        if (@c.CategoryId == @idea.CategoryId)
                                                        {
                                                            <span>@c.category_name</span>     @*Category*@
                                                        }
                                                    }
                                                </a>
                                            </div>
                                            <h1 class="lead" style="font-size: 1.3em">@idea.idea_title</h1>    @*Title*@
                                        </div>
                                        @* <h1 class="Tag">@ViewBag.Tag</h1>*@
                                        <div class="file_idea ">
                                            @*Image*@
                                            <a asp-action="DetailIdea" asp-controller="Staff" asp-route-id="@idea.IdeaId">
                                                <img src="https://diachishophoa.com/uploads/noidung/images/hoasinhnhatmauxanh-1530218652.jpg"
                                                 title="Image_idea" />

                                            </a>
                                        </div>

                                        <h2 class="content_post">@idea.idea_content</h2> @*Content*@

                                    </div>
                                </div>
                            </div>
                            <div class="felling  nav_bar--item--separate3">
                                <div class="more">
                                    <ul class="felling_idea">
                                        <li><a style="color:green" asp-action="" asp-controller=""><i class="fa-regular fa-eye"></i></a>@idea.idea_view</li>
                                        @*  <li>
                                    <label placeholder="React point: "><p id="total">@react_point</p></label>
                                    </li>*@
                                        <li>
                                            <i type="button" onclick="btnThumbUp(this)" class="fa-regular fa-thumbs-up" style="color: green"></i>
                                        </li>

                                        <li>
                                            <i type="button" onclick="btnThumbDown(this)" class="fa-regular fa-thumbs-down" style="color:green"></i>
                                        </li>
                                        <li><a style="color:green" asp-action="" asp-controller=""><i class="fa-regular fa-comment"></i></a>32</li>
                                        @* <li>
                                    <label class="container">
                                    <input type="checkbox">
                                    <div class="checkmark">
                                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 50 50">
                                    <path fill-opacity="1.000" d="M 24.10 6.29 Q 28.34 7.56 28.00 12.00 Q 27.56 15.10 27.13 18.19 A 0.45 0.45 4.5 0 0 27.57 18.70 Q 33.16 18.79 38.75 18.75 Q 42.13 18.97 43.23 21.45 Q 43.91 22.98 43.27 26.05 Q 40.33 40.08 40.19 40.44 Q 38.85 43.75 35.50 43.75 Q 21.75 43.75 7.29 43.75 A 1.03 1.02 0.0 0 1 6.26 42.73 L 6.42 19.43 A 0.54 0.51 -89.4 0 1 6.93 18.90 L 14.74 18.79 A 2.52 2.31 11.6 0 0 16.91 17.49 L 22.04 7.17 A 1.74 1.73 21.6 0 1 24.10 6.29 Z M 21.92 14.42 Q 20.76 16.58 19.74 18.79 Q 18.74 20.93 18.72 23.43 Q 18.65 31.75 18.92 40.06 A 0.52 0.52 88.9 0 0 19.44 40.56 L 35.51 40.50 A 1.87 1.83 5.9 0 0 37.33 39.05 L 40.51 23.94 Q 40.92 22.03 38.96 21.97 L 23.95 21.57 A 0.49 0.47 2.8 0 1 23.47 21.06 Q 23.76 17.64 25.00 12.00 Q 25.58 9.36 24.28 10.12 Q 23.80 10.40 23.50 11.09 Q 22.79 12.80 21.92 14.42 Z M 15.57 22.41 A 0.62 0.62 0 0 0 14.95 21.79 L 10.01 21.79 A 0.62 0.62 0 0 0 9.39 22.41 L 9.39 40.07 A 0.62 0.62 0 0 0 10.01 40.69 L 14.95 40.69 A 0.62 0.62 0 0 0 15.57 40.07 L 15.57 22.41 Z"></path>
                                    <circle fill-opacity="1.000" cx="12.49" cy="37.50" r="1.51"></circle>
                                    </svg>
                                    </div>
                                    <p class="like">Liked!</p>
                                    </label>
                                    </li>*@
                                    </ul>
                                </div>
                            </div>

                            <div class="comment_idea">
                                <div class="com_idea_avata">
                                    <a asp-action="Profile" asp-controller="Staff">
                                        <figure class="avata_comment">
                                            <img style="width: 60px; height: 60px; border-radius: 50%; display: inline-block" src="/images/avatar.jpg"
                                             alt="avata" />
                                        </figure>
                                    </a>
                                </div>
                                <div class="comment" style=" position: static; z-index: 5;">
                                    <div class="form-group">
                                        <form asp-action="DetailIdea" asp-controller="Staff" method="POST">
                                            <a style="text-decoration: none">
                                                <input style="width: 450px; height: 40px" class="form-control" rows="5" id="comment" placeholder="Post your comment..." />
                                            </a>
                                            @*<label class="switch" value="true">
                                        <input type="checkbox">
                                        <div class="slider"></div>
                                        <div class="slider-card">
                                        <div class="slider-card-face slider-card-front"></div>
                                        <div class="slider-card-face slider-card-back"></div>
                                        </div>
                                        </label>*@
                                        </form>
                                    </div>

                                </div>

                            </div>

                            @*END*@
                        </div>
                        @*}*@
                    </div>
                }
            </div>
        </div>
        <div class="sub_container2 col-lg-3">
            <div class="advertisement1">
                <img src="https://lh4.googleusercontent.com/Vlh588I4xm1B3HQ_mvb_Qs1viP9sEbzjsz6S7PqGqT1Vlwgk6zP40WJ1Acsakjp9HVEVTGIAnjPOVrxjGs5VOguxqF6D3fRiNknXefNNgLM0BynE3YBUhu6z3pJrMkO3_j3dkFvR" title="QC" />
            </div>
            <br>
            <div class="advertisement2">
                <img src="https://didongviet.vn/pub/media/catalog/product//i/p/iphone-13-pro-aar-xanh-la-didongviet_1_1.jpg"
                     title="QC" />
            </div>
        </div>
    </div>
    <div class="pagination" style=" border-radius: 3em">
        <div class="prev">
            <span class="text">Prev</span>
            <div class="left">
                <a href="" class="prev"></a>
            </div>
        </div>

        <div class="next">
            <span class="text">Next</span>
            <div class="right">
                <a href="" class="prev"></a>
            </div>
        </div>
    </div>
</div>




