@using COMP1640.ViewModels
@model List<COMP1640.Controllers.StaffController.PostViewModel>
@{
    Layout = "_Staff";
    Profile logginnedUser = (Profile)ViewBag.LogginedUser;
    ViewData["LoginedUserName"] = logginnedUser.Name;
    int Point(int thumbUp, int thumbDown)
    {
        return thumbUp - thumbDown;
    }
    ViewPage pageInfor = (ViewPage)ViewBag.Page;
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Staff"))
{
    <div class="interface">
        <div class="row col-lg-12" id="page-contents">
            <div class="sub_container col-lg-3">
                <div class="sidebar static">
                    <div class="widget">
                        <h4 class="widget-title"><b> Shortcuts</b></h4>
                        <ul class="Shortcuts">
                            <li class="nav_bar--item "><i class="fa-regular fa-paste"></i><a asp-controller="Staff" asp-action="ViewPage" asp-route-viewType="idea">Idea List</a></li>
                            <li class="nav_bar--item "><i class="fa-regular fa-user"></i><a asp-controller="Staff" asp-action="Profile" asp-route-id="@logginnedUser.Id">Profile</a></li>
                        </ul>
                    </div>
                    <br>
                    <div class="idea">
                        <h4 class="widget-title"><b>Filter Ideas</b></h4>
                        <ul class="Shortcuts">
                            <li class="nav_bar--item "><i class="fa-solid fa-street-view"></i><a asp-controller="Staff" asp-action="ViewPage" asp-route-orderby="mostview" asp-route-viewType="@pageInfor.ViewType" asp-route-id="@pageInfor.Id">Most Viewed Ideas</a></li>
                            <li class="nav_bar--item "><i class="fa-solid fa-face-laugh-wink"></i><a asp-controller="Staff" asp-action="ViewPage" asp-route-orderby="popular" asp-route-viewType="@pageInfor.ViewType" asp-route-id="@pageInfor.Id">Most Popular Ideas</a></li>
                            <li class="nav_bar--item "><i class="fa-regular fa-lightbulb"></i><a asp-controller="Staff" asp-action="ViewPage" asp-route-orderby="latest" asp-route-viewType="@pageInfor.ViewType" asp-route-id="@pageInfor.Id">Latest Ideas</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="sub_container col-lg-6">
                <div class="new-post">
                    <div class="avata_post">
                        <figure>
                            @*AVATAR*@
                            <a style="text-decoration: none" asp-controller="Staff" asp-action="Profile" asp-route-id="@logginnedUser.Id">
                                <img src="/Avatars/@logginnedUser.Avatar"
                                 alt="avata" />
                            </a>
                        </figure>
                    </div>
                    @if (ViewBag.Date > DateTime.UtcNow)
                    {
                        <div class="form_add_idea">
                            <a style="text-decoration: none; width: 100%" asp-action="AddIdea" asp-controller="Staff">
                                <input class="form_control" type="text" placeholder="Typing your idea here..." readonly>
                            </a>
                        </div>
                        <div class="btn_add">
                            <a style="text-decoration: none; width: 100%" asp-action="AddIdea" asp-controller="Staff">
                                <button type="button" class="btn btn-success">Add</button>
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="form_add_idea">
                            <a style="text-decoration: none; width: 100%">
                                <input class="form_control" type="text" placeholder="Typing your idea here..." readonly>
                            </a>
                        </div>
                        <div class="btn_add">
                            <a style="text-decoration: none; width: 100%">
                                <button type="button" class="btn btn-success">Add</button>
                            </a>
                        </div>
                    }
                </div>

                @*A post*@
                <div class="block" id="display-idea">
                    @foreach (var idea in Model)
                    {
                        <div class="information_idea">
                            <div class="Infor_idea">
                                <div class="detail_idea nav_bar--item--separate2">
                                    <div class="avata_information_idea">
                                        <figure>

                                            @if (@idea.idea_anonymous)    @*Anonymous*@
                                            {
                                                <a style="text-decoration: none">
                                                    <img style="width: 60px; height: 60px; border-radius: 50%; display: inline-block" src="/images/avatar_anonymous.png" alt="avatar" />
                                                    <div class="name_account">
                                                        <h4 style="font-size: 16px;padding-top: -600px; width: 230px;">Anonymous</h4><h5 style="font-size: 14px;padding-top: -600px; color: black; margin-left: 70px;">@String.Format("{0:g}", @idea.created_date)</h5>   @*CreatedTime*@
                                                    </div>
                                                </a>
                                            }
                                            else
                                            {
                                                <a style="text-decoration: none" asp-controller="Staff" asp-action="Profile" asp-route-id="@idea.Profile.Id">
                                                    <img style="width: 60px; height: 60px; border-radius: 50%; display: inline-block" src="/Avatars/@idea.Profile.Avatar" alt="avatar" />
                                                    <div class="name_account">
                                                        <h4 style="font-size: 16px">@idea.Profile.Name</h4><h5 style="font-size: 14px;padding-top: -600px; color: black; margin-left: 70px;">@String.Format("{0:g}", @idea.created_date)</h5>   @*CreatedTime*@
                                                    </div>
                                                </a>
                                            }



                                        </figure>
                                    </div>

                                    <div class="content">

                                        <div class="img_idea">
                                            <div class="title_idea">
                                                <div class="tag">
                                                    <a asp-controller="Staff" asp-action="ViewPage" asp-route-viewType="cat" asp-route-id="@idea.CategoryId">
                                                        <span>@idea.Category.category_name</span>
                                                    </a>
                                                </div>
                                                <div class="title_idea_info">
                                                    <a asp-action="DetailIdea" asp-controller="Staff" asp-route-id="@idea.IdeaId" style="text-decoration:none; color: black;">
                                                        <h1 class="lead">@idea.idea_title</h1>    @*Title*@
                                                    </a>
                                                </div>
                                            </div>
                                            @foreach (var doc in ViewBag.Documents)
                                            {
                                                if (doc.IdeaId == idea.IdeaId)
                                                {
                                                    <div class="file_idea" style="text-align: center">
                                                        <a asp-action="DetailIdea" asp-controller="Staff" asp-route-id="@idea.IdeaId">Document:
                                                            @doc.doc_name
                                                        </a>

                                                    </div>
                                                }
                                            }

                                            <div class="file_idea ">
                                                <div class="content_idea_info">
                                                <a asp-action="DetailIdea" asp-controller="Staff" asp-route-id="@idea.IdeaId" style="text-decoration:none; color: black;">
                                                    <h2 class="content_post">@idea.idea_content</h2>
                                                </a> @*Content*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="felling  nav_bar--item--separate3">
                                    <div class="more">
                                        <ul class="felling_idea">
                                            <li><a style="color:green"><i class="fa-regular fa-eye"></i></a>@idea.idea_view</li>
                                            <li>
                                                <label placeholder="React point: "><p id="total">@Point(idea.Reacpoint.ThumbUp, @idea.Reacpoint.ThumbDown)</p></label>
                                            </li>
                                            @if (idea.IsLikedByCurrentUser != null && idea.IsLikedByCurrentUser == true)
                                            {
                                                <li>
                                                    <i type="button" id="TU-@idea.IdeaId"
                                                       onclick="btnThumbUp(@idea.IdeaId, @idea.ReactPointId, @idea.Reacpoint.ThumbUp, @idea.Reacpoint.ThumbDown)"
                                                       class="fa-solid fa-thumbs-up" style="color: green"></i>
                                                </li>

                                                <li>
                                                    <i type="button" id="TD-@idea.IdeaId"
                                                       onclick="btnThumbDown(@idea.IdeaId, @idea.ReactPointId, @idea.Reacpoint.ThumbUp, @idea.Reacpoint.ThumbDown)"
                                                       class="fa-regular fa-thumbs-down" style="color:green"></i>
                                                </li>
                                            }
                                            else if (idea.IsLikedByCurrentUser != null && idea.IsLikedByCurrentUser == false)
                                            {
                                                <li>
                                                    <i type="button" id="TU-@idea.IdeaId"
                                                       onclick="btnThumbUp(@idea.IdeaId, @idea.ReactPointId, @idea.Reacpoint.ThumbUp, @idea.Reacpoint.ThumbDown)"
                                                       class="fa-regular fa-thumbs-up" style="color: green"></i>
                                                </li>

                                                <li>
                                                    <i type="button" id="TD-@idea.IdeaId"
                                                       onclick="btnThumbDown(@idea.IdeaId, @idea.ReactPointId, @idea.Reacpoint.ThumbUp, @idea.Reacpoint.ThumbDown)"
                                                       class="fa-solid fa-thumbs-down" style="color:green"></i>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <i type="button" id="TU-@idea.IdeaId"
                                                       onclick="btnThumbUp(@idea.IdeaId, @idea.ReactPointId, @idea.Reacpoint.ThumbUp, @idea.Reacpoint.ThumbDown)"
                                                       class="fa-regular fa-thumbs-up" style="color: green"></i>
                                                </li>

                                                <li>
                                                    <i type="button" id="TD-@idea.IdeaId"
                                                       onclick="btnThumbDown(@idea.IdeaId, @idea.ReactPointId, @idea.Reacpoint.ThumbUp, @idea.Reacpoint.ThumbDown)"
                                                       class="fa-regular fa-thumbs-down" style="color:green"></i>
                                                </li>
                                            }
                                            <li>
                                                <a style="color:green">
                                                    <i class="fa-regular fa-comment"></i>
                                                </a>
                                                @idea.Comments.Count()
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="comment_idea">
                                    <div class="com_idea_avata">
                                        <a asp-controller="Staff" asp-action="Profile" asp-route-id="@logginnedUser.Id">
                                            <figure class="avata_comment">
                                                <img style="width: 60px; height: 60px; border-radius: 50%; display: inline-block" src="/Avatars/@logginnedUser.Avatar"
                                             alt="avata" />
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="comment" style=" position: static; z-index: 5;">
                                        <div class="form-group">

                                            <a asp-action="DetailIdea" asp-controller="Staff" asp-route-id="@idea.IdeaId" style="text-decoration: none">
                                                <input style="width: 80%; height: 40px" class="form-control" rows="5" id="comment" placeholder="Post your comment..." />
                                            </a>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    }@*END*@
                </div>
            </div>
            <div class="sub_container2 col-lg-3">
                <div class="advertisement1">
                    <img src="/images/Ads_img/Ad1.jpg" title="QC" />
                </div>
                <br>
                <div class="advertisement2">
                    <img src="/images/Ads_img/Ads2.jpg"
                     title="QC" />
                </div>
                <div class="advertisement3">
                    <img src="/images/Ads_img/Ads3.jpg"
                     title="QC" />
                </div>
            </div>
        </div>
        @{
            int next = pageInfor.PageNum + 1;
            int pre = pageInfor.PageNum - 1;
        }
        <div class="pagination" style=" border-radius: 3em">
            @if (@pre > 0)
            {
                <div class="prev">
                    <span onclick="BtnPre()">Prev</span>
                </div>
            }
            @if (@next * 5 - @ViewBag.Total < 5)
            {
                <div class="next">
                    <span id="BtnNext" onclick="BtnNext()">Next</span>
                </div>
            }
        </div>
    </div>
    <script>

        function BtnNext() {
            window.location.replace('/staff/viewpage?pagenum=@next&orderby=@pageInfor.OrderBy&viewtype=@pageInfor.ViewType&id=@pageInfor.Id');
        }
        function BtnPre() {
            window.location.replace('/staff/viewpage?pagenum=@pre&orderby=@pageInfor.OrderBy&viewtype=@pageInfor.ViewType&id=@pageInfor.Id');
        }
    </script>
    <script type="text/javascript">
        function btnThumbUp(IdeaId, ReactPointId, ThumbUp, ThumbDown) {
            var save = {
                IdeaId: IdeaId,
                ProfileId: "@logginnedUser.Id",
                Reacted: true
            };

            if ($(`#TU-${IdeaId}`).hasClass("fa-solid") == true) {
                $(`#TU-${IdeaId}`).removeClass("fa-solid");
                $(`#TU-${IdeaId}`).addClass("fa-regular");
                        var obj = {
                            ReactPointId: ReactPointId,
                            ThumbUp: ThumbUp,
                            ThumbDown: ThumbDown
                        };
                        Submit(obj);
                        Delete(save);
            }
            else if ($(`#TD-${IdeaId}`).hasClass("fa-solid") == true) {
                $(`#TD-${IdeaId}`).removeClass("fa-solid");
                $(`#TD-${IdeaId}`).addClass("fa-regular");
                $(`#TU-${IdeaId}`).removeClass("fa-solid");
                $(`#TU-${IdeaId}`).addClass("fa-regular");
                        var obj = {
                                ReactPointId: ReactPointId,
                                ThumbUp: ThumbUp + 1,
                                ThumbDown: ThumbDown -1
                            };
                            Submit(obj);
                            Save(save);
            }
            else 
            {
                $(`#TU-${IdeaId}`).removeClass("fa-regular");
                $(`#TU-${IdeaId}`).addClass("fa-solid");
                        var obj = {
                                ReactPointId: ReactPointId,
                                ThumbUp: ThumbUp + 1,
                                ThumbDown: ThumbDown
                            };
                            Submit(obj);
                            Save(save);
            }
        };

        function btnThumbDown(IdeaId, ReactPointId, ThumbUp, ThumbDown) {
            var save = {
                IdeaId: IdeaId,
                ProfileId: "@logginnedUser.Id",
                Reacted: false
            };

            if ($(`#TD-${IdeaId}`).hasClass("fa-solid") == true) {
                $(`#TD-${IdeaId}`).removeClass("fa-solid");
                $(`#TD-${IdeaId}`).addClass("fa-regular");
                var obj = {
                    ReactPointId: ReactPointId,
                    ThumbUp: ThumbUp,
                    ThumbDown: ThumbDown
                };
                Submit(obj);
                Delete(save);
            }
            else if ($(`#TU-${IdeaId}`).hasClass("fa-solid") == true) {
                $(`#TU-${IdeaId}`).removeClass("fa-solid");
                $(`#TU-${IdeaId}`).addClass("fa-regular");
                $(`#TD-${IdeaId}`).removeClass("fa-solid");
                $(`#TD-${IdeaId}`).addClass("fa-regular");
                var obj = {
                    ReactPointId: ReactPointId,
                    ThumbUp: ThumbUp - 1,
                    ThumbDown: ThumbDown + 1
                };
                Submit(obj);
                Save(save);
            }
            else {
                $(`#TD-${IdeaId}`).removeClass("fa-regular");
                $(`#TD-${IdeaId}`).addClass("fa-solid");
                var obj = {
                    ReactPointId: ReactPointId,
                    ThumbUp: ThumbUp,
                    ThumbDown: ThumbDown + 1
                };
                Submit(obj);
                Save(save);
            }
        }

        function Submit(obj) {
            $.ajax({
                url: "/Staff/ReactPoint",
                method: "POST",
                data: JSON.stringify(obj),
                dataType: "json",
                contentType: 'application/json',
                success: function (data) {
                    console.log(data)
                    result = JSON.parse(data)
                    $("#total").text(result.ThumbUp - result.ThumbDown)
                },
                error: function (err) {
                    console.log(err)
                }
            })
        }

        function Save(save) {
            $.ajax({
                url: "/Staff/React",
                method: "POST",
                data: JSON.stringify(save),
                dataType: "json",
                contentType: 'application/json',
                success: function (data) {
                    console.log(data)
                },
                error: function (err) {
                    console.log(err)
                }
            })
        }

        function Delete(save) {
            $.ajax({
                url: "/Staff/DeleteReact",
                method: "POST",
                data: JSON.stringify(save),
                dataType: "json",
                contentType: 'application/json',
                success: function () {
                },
                error: function () {
                }
            })
        }
    </script>
    <script src="~/js/serach-idea.js"></script>
}
