@using COMP1640.ViewModels
@model List<Idea>;
@{
    Layout = "_Staff";
    Profile logginnedUser = (Profile)ViewBag.LogginedUser;
    ViewData["LoginedUserName"] = logginnedUser.Name;
    int Point(int thumbUp, int thumbDown)
    {
        return thumbUp - thumbDown;
    }
    ViewPage pageInfor = (ViewPage)ViewBag.Page;
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Staff"))
{
    <div class="interface">
        <div class="row col-lg-12" id="page-contents">
            <div class="sub_container col-lg-3">
                <div class="sidebar static">
                    <div class="widget">
                        <h4 class="widget-title"><b> Shortcuts</b></h4>
                        <ul class="Shortcuts">
                            <li class="nav_bar--item "><i class="fa-regular fa-paste"></i><a href="/Staff/viewpage?pageNum=1&orderby=lastest&viewtype=idea">Idea List</a></li>
                            <li class="nav_bar--item "><i class="fa-regular fa-user"></i><a href="/Staff/Profile?id=@logginnedUser.Id&pagenum=1&viewtype=latest">Profile</a></li>
                        </ul>
                    </div>
                    <br>
                    <div class="idea">
                        <h4 class="widget-title"><b>Filter Ideas</b></h4>
                        <ul class="Shortcuts">
                            <li class="nav_bar--item "><i class="fa-solid fa-street-view"></i><a href="/staff/viewpage?pagenum=1&orderby=mostview&viewtype=@pageInfor.ViewType&id=@pageInfor.Id">Most Viewed Ideas</a></li>
                            <li class="nav_bar--item "><i class="fa-solid fa-face-laugh-wink"></i><a href="/staff/viewpage?pagenum=1&orderby=popular&viewtype=@pageInfor.ViewType&id=@pageInfor.Id">Most Popular Ideas</a></li>
                            <li class="nav_bar--item "><i class="fa-regular fa-lightbulb"></i><a href="/staff/viewpage?pagenum=1&orderby=lastest&viewtype=@pageInfor.ViewType&id=@pageInfor.Id">Latest Ideas</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="sub_container col-lg-6">
                <div class="new-post">
                    <div class="avata_post">
                        <figure>
                            @*AVATAR*@
                            <a style="text-decoration: none" href="/Staff/Profile?id=@logginnedUser.Id&pagenum=1&viewtype=latest">
                                <img src="/Avatars/@logginnedUser.Avatar"
                                     alt="avata" />
                            </a>
                        </figure>
                    </div>
                    @if (ViewBag.Date > DateTime.UtcNow)
                    {
                        <div class="form_add_idea">
                            <a style="text-decoration: none; width: 100%" asp-action="AddIdea" asp-controller="Staff">
                                <input class="form_control" type="text" placeholder="Typing your idea here..." readonly>
                            </a>
                        </div>
                        <div class="btn_add">
                            <a style="text-decoration: none; width: 100%" asp-action="AddIdea" asp-controller="Staff">
                                <button type="button" class="btn btn-success">Add</button>
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="form_add_idea">
                            <a style="text-decoration: none; width: 100%">
                                <input class="form_control" type="text" placeholder="Typing your idea here..." readonly>
                            </a>
                        </div>
                        <div class="btn_add">
                            <a style="text-decoration: none; width: 100%">
                                <button type="button" class="btn btn-success">Add</button>
                            </a>
                        </div>
                    }
                </div>

                @*A post*@
                <div class="block" id="display-idea">
                    @foreach (var idea in Model)
                    {
                        <div class="information_idea">
                            <div class="Infor_idea">
                                <div class="detail_idea nav_bar--item--separate2">
                                    <div class="avata_information_idea">
                                        <figure>

                                            @if (@idea.idea_anonymous)    @*Anonymous*@
                                            {
                                                <a style="text-decoration: none">
                                                    <img style="width: 60px; height: 60px; border-radius: 50%; display: inline-block" src="/images/avatar_anonymous.png" alt="avatar" />
                                                    <div class="name_account">
                                                        <h4 style="font-size: 16px;padding-top: -600px; width: 230px;">Anonymous</h4><h5 style="font-size: 14px;padding-top: -600px; color: black; margin-left: 70px;">@String.Format("{0:g}", @idea.created_date)</h5>   @*CreatedTime*@
                                                    </div>
                                                </a>
                                            }
                                            else
                                            {
                                                <a style="text-decoration: none" href="/Staff/Profile?id=@idea.Profile.Id&pagenum=1&viewtype=latest">
                                                    <img style="width: 60px; height: 60px; border-radius: 50%; display: inline-block" src="/Avatars/@idea.Profile.Avatar" alt="avatar" />
                                                    <div class="name_account">
                                                        <h4 style="font-size: 16px">@idea.Profile.Name</h4><h5 style="font-size: 14px;padding-top: -600px; color: black; margin-left: 70px;">@String.Format("{0:g}", @idea.created_date)</h5>   @*CreatedTime*@
                                                    </div>
                                                </a>
                                            }

                   

                                        </figure>
                                    </div>

                                    <div class="content">

                                        <div class="img_idea">
                                            <div class="title_idea">
                                                <div class="tag">
                                                    <a href="/staff/viewpage?pageNum=1&orderby=lastest&viewtype=cat&id=@idea.CategoryId">
                                                        <span>@idea.Category.category_name</span>
                                                    </a>
                                                </div>
                                                <a asp-action="DetailIdea" asp-controller="Staff" asp-route-id="@idea.IdeaId" style="text-decoration:none; color: black;">
                                                    <h1 class="lead" style="font-size: 1.3em">@idea.idea_title</h1>    @*Title*@
                                                </a>
                                            </div>
                                            @foreach (var doc in ViewBag.Documents)
                                            { if(doc.IdeaId == idea.IdeaId)
                                                {
                                                    <div class="file_idea" style="text-align: center">
                                                        <a asp-action="DetailIdea" asp-controller="Staff" asp-route-id="@idea.IdeaId"   >
                                                        @doc.doc_name
                                                    </a>

                                                </div>
                                                }
                                                
                                            }

                                            <div class="file_idea ">
                                                <a asp-action="DetailIdea" asp-controller="Staff" asp-route-id="@idea.IdeaId" style="text-decoration:none; color: black;">
                                                    <h2 class="content_post">@idea.idea_content</h2>
                                                </a> @*Content*@
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="felling  nav_bar--item--separate3">
                                    <div class="more">
                                        <ul class="felling_idea">
                                            <li><a style="color:green" asp-action="" asp-controller=""><i class="fa-regular fa-eye"></i></a>@idea.idea_view</li>
                                            <li>
                                                <label placeholder="React point: "><p id="total">@Point(@idea.Reacpoint.ThumbUp, @idea.Reacpoint.ThumbDown)</p></label>
                                            </li>
                                            <li>
                                                <i type="button" onclick="btnThumbUp(this)" class="fa-regular fa-thumbs-up" style="color: green"></i>
                                            </li>

                                            <li>
                                                <i type="button" onclick="btnThumbDown(this)" class="fa-regular fa-thumbs-down" style="color:green"></i>
                                            </li>
                                            <li>
                                                <a style="color:green" asp-action="" asp-controller="">
                                                    <i class="fa-regular fa-comment"></i>
                                                </a>
                                                @idea.Comments.Count()
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="comment_idea">
                                    <div class="com_idea_avata">
                                        <a href="/Staff/Profile?id=@logginnedUser.Id&pagenum=1&viewtype=latest">
                                            <figure class="avata_comment">
                                                <img style="width: 60px; height: 60px; border-radius: 50%; display: inline-block" src="/Avatars/@logginnedUser.Avatar"
                                                     alt="avata" />
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="comment" style=" position: static; z-index: 5;">
                                        <div class="form-group">

                                            <a asp-action="DetailIdea" asp-controller="Staff" asp-route-id="@idea.IdeaId" style="text-decoration: none">
                                                <input style="width: 80%; height: 40px" class="form-control" rows="5" id="comment" placeholder="Post your comment..." />
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                
                            </div>
                        </div>
                    }@*END*@
                </div>
            </div>
            <div class="sub_container2 col-lg-3">
                <div class="advertisement1">
                    <img src="https://inspirdoedu.com/vnt_upload/abroad/05_2020/du-hoc-anh-dai-hoc-greenwich.jpg" title="QC" />
                </div>
                <br>
                <div class="advertisement2">
                    <img src="https://media.kenhtuyensinh.vn/images/article/240123/daihocgreenwich.jpg"
                         title="QC" />
                </div>
                <div class="advertisement3">
                    <img src="https://vtv1.mediacdn.vn/thumb_w/640/2022/5/28/6-16537503950961937725457.jpg"
                         title="QC" />
                </div>
            </div>
        </div>
        @{
            int next = pageInfor.PageNum + 1;
            int pre = pageInfor.PageNum - 1;
        }
        <div class="pagination" style=" border-radius: 3em">
            @if (@pre > 0)
            {
                <div class="prev">
                    <span onclick="BtnPre()">Prev</span>
                </div>
            }
            @if (@next * 5 - @ViewBag.Total < 5)
            {
                <div class="next">
                    <span id="BtnNext" onclick="BtnNext()">Next</span>
                </div>
            }
        </div>
    </div>
    <script>

        function BtnNext() {
            window.location.replace('/staff/viewpage?pagenum=@next&orderby=@pageInfor.OrderBy&viewtype=@pageInfor.ViewType&id=@pageInfor.Id');
        }
        function BtnPre() {
            window.location.replace('/staff/viewpage?pagenum=@pre&orderby=@pageInfor.OrderBy&viewtype=@pageInfor.ViewType&id=@pageInfor.Id');
        }
    </script>
    <script src="~/js/serach-idea.js"></script>
}
