@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    var Roles = ViewData["Roles"] as List<IdentityRole>;
    var Deps = ViewData["Departments"] as List<COMP1640.Models.Department>;
    Layout = "_LayoutCreateAccount";
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
{
    <div class="wrapper">
        <div class="row">
            <a class="col-2" href="javascript:history.back()"><img src="~/fb-icons/bx-arrow-back.svg" /></a>
            <h2 class="col-10">Create account</h2>
        </div>

        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

            <div class="form-group-role">
                <select class="form-select form-control" id="role" onchange="CheckAd(this)" asp-for="Input.Role" required>
                    <option selected disabled>Choose the account role</option>
                    @foreach (var role in Roles)
                    {
                        <option value="@role.Name">@role.Name</option>
                    }
                </select>
                <span class="text-danger" asp-validation-for="Input.Role"></span>
            </div>

            <div class="form-group-department">
                <select class="form-select form-control" id="dep" asp-for="Input.DepartmentId" required>
                    <option selected disabled>Choose the account department</option>
                    @foreach (var dep in Deps)
                    {
                        <option value="@dep.DepId">@dep.Dep_name</option>
                    }
                </select>
                <span class="text-danger" asp-validation-for="Input.DepartmentId"></span>
            </div>

            <div class="input-box">
                <input asp-for="Input.Email" placeholder="Enter account email" required>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="input-box">
                <input asp-for="Input.Password" placeholder="Enter account password" required>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="input-box">
                <input asp-for="Input.ConfirmPassword" placeholder="Confirm password" required>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="policy">
                <input type="checkbox" required>
                <h3>I accept all <b>Terms</b> & <b>Condition</b></h3>
            </div>
            <div class="input-box button">
                <input type="Submit" value="Create">
            </div>
        </form>
    </div>
}

<script type="text/javascript">
    function hide() {
        var dep = document.getElementById('dep');
        dep.style.visibility = 'hidden';
    }
    function show() {
        var dep = document.getElementById('dep');
        dep.style.visibility = 'visible';
    }
    function CheckAd(x) {
        if (x.value == "Administrator") {
            $('#dep').prop('selectedIndex', 1);
            hide();
        }
        else {
            show();
        }
    };
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}