@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    List<IdentityRole> Roles = ViewData["Roles"] as List<IdentityRole>;
    
    //Layout = "_LayoutCreateAccount";
}
<style>
    body {
        background: linear-gradient(#d6f1f9, #d9efd7);
    }
</style>

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <select class="form-select" asp-for="Input.Role" class="form-control">
                    <option selected disabled>Choose the account role</option>
                    @foreach (var role in Roles)
                    {
                        <option value="@role.Name" >@role.Name</option>
                    }
                </select>
                <span class="text-danger" asp-validation-for="Input.Role"></span>
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

@*<div class="center">
    <a class="btn-back-register" href="javascript:history.back()"><img src="~/fb-icons/bx-arrow-back.svg" /></a>
    <h3>Create New account</h3>
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="txt_field">
            <input asp-for="Input.Email" type="text" required />
            <span asp-validation-for="Input.Email"></span>
            <label asp-for="Input.Email">Email</label>

        </div>
        <div class="txt_field">
            <input asp-for="Input.Password" type="password" required />
            <span asp-validation-for="Input.Password"></span>
            <label asp-for="Input.Password">Password</label>

        </div>

        <div class="txt_field">
            <input asp-for="Input.ConfirmPassword" type="password" required />
            <span asp-validation-for="Input.ConfirmPassword"></span>
            <label asp-for="Input.ConfirmPassword">Re-password</label>

        </div>

        <div class="form-group">
            <select class="form-select" asp-for="Input.Role" required>
                <option selected disabled>Choose the account role</option>
                @foreach (var role in @Roles)
                {
                    <option value=@role.Name>@role.Name</option>
                }
            </select>
            <span class="text-danger" asp-validation-for="Input.Role"></span>
        </div>

        <button type="submit" class="btn btn-primary" />Register</button>
    </form>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
