@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    var Roles = ViewData["Roles"] as List<IdentityRole>;
}

<h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-md-4">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Create a new account</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <select class="form-select" asp-for="Input.Role" class="form-control">
                        <option selected disabled value=null>Choose the account role</option>
                        @foreach (var role in Roles)
                        {
                            <option value="@role.Name">@role.Name</option>
                        }
                    </select>
      
                        <span class="text-danger" asp-validation-for="Input.Role"></span>
          
                    
                </div>

                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>

    <!--New-->
    @*   <div class="wrapper">
    <div class="row">
    <a class="col-2" href="javascript:history.back()"><img src="~/fb-icons/bx-arrow-back.svg" /></a>
    <h2 class="col-10">Create account</h2>
    </div>

    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

    <div class="form-group">
    <select class="form-select" asp-for="Input.Role" class="form-control" required>
    <option selected disabled>Choose the account role</option>
    @foreach (var role in Roles)
    {
    <option value="@role.Name">@role.Name</option>
    }
    </select>
    <span class="text-danger" asp-validation-for="Input.Role"></span>
    </div>

    <div class="input-box">
    <input asp-for="Input.Email" placeholder="Enter your email" required>
    <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="input-box">
    <input asp-for="Input.Password" placeholder="Enter your password" required>
    <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="input-box">
    <input asp-for="Input.ConfirmPassword" placeholder="Confirm your password" required>
    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="policy">
    <input type="checkbox" required>
    <h3>I accept all <b>Terms</b> & <b>Condition</b></h3>
    </div>
    <div class="input-box button">
    <input type="Submit" value="Create">
    </div>
    </form>
    </div>*@


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
