@using COMP1640.ViewModels
@model List<TopContributor>
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_QAM";
    <link rel="stylesheet" href="~/css/res_qa_db.css" />
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Quality Assurance Manager"))
{
    <div class="dashboard">
        <div class="header_db">
            <div class="numOf_idea">
                <div class="col-4">
                    <span>70%</span>
                </div>
                <div class="col-8">
                    <h5>Total Idea</h5>
                    <span>1000</span>
                </div>
            </div>
            <div class="numOf_contributors">
                <div class="col-4">
                    <span>98%</span>
                </div>
                <div class="col-8">
                    <h5>Total Contributor</h5>
                    <span>100</span>
                </div>
            </div>
            <div class="react_idea">
                <div class="col-4">
                    <span>100%</span>
                </div>
                <div class="col-8">
                    <h5>React Idea</h5>
                    <span>1000</span>
                </div>
            </div>
            <div class="numOf_comment">
                <div class="col-4">
                    <span>100%</span>
                </div>
                <div class="col-8">
                    <h5>Comment</h5>
                    <span>1000</span>
                </div>
            </div>
        </div>
         <div class="body_db">
            <div class="dashboard">
                <div class="colom1">
                    <div class="chartCard">
                        <div class="chartBox">
                            <h5>Number of ideas per department/year </h5>
                            <canvas id="line-chart" width="500" height="300"></canvas>
                        </div>
                    </div>
                    <div class="chart_contributor">
                        <div class="chart_contributors">
                            <h5>Numbers of contributors per departments </h5>
                            <canvas id="pie-chart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="colom1">
                    <div class="chartCard">
                        <div class="chartBox">
                            <h5>Category per year </h5>
                            <canvas id="bar-chart" width="500" height="300"></canvas>
                        </div>
                    </div>
                    <div class="chartCard">
                        <div class="chartBox">
                               <h5>Number of point per event </h5>
                            <canvas id="mixed-chart" width="500" height="300"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contributor">
                <h4>Top 5 Contributors</h4>
                <table class="table">
                    <thead>
                        <tr>                       
                            <th scope="col">Profile ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">DoB</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Address</th>
                            <th scope="col">DepID</th>
                            <th scope="col">Number of Posted Ideas</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in @Model)
                        {                     
                            <tr>                         
                                <td>@item.Infor.Id</td>
                                <td>@item.Infor.Name</td>
                                <td>@item.Infor.DoB.ToString("MM/dd/yyyy")</td>
                                <td>@item.Infor.Gender</td>
                                <td>@item.Infor.Address</td>
                                <td>@item.Infor.Department.Dep_name</td>
                                <td>@item.PostedIdea</td>
                            </tr>                         
                        }                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
]
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="~/js/create-chart.js"></script>
