<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" initial-scale=1 />
    <meta character="utl-f8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1e27f03b11.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    @*12/03/2023 _ Finish Ajax*@
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>

    <title>Siintor</title>
</head>

<body>
    <div class="app">
        <header class="header">
            <div class="logo">
                <a href="/Staff/viewpage?pageNum=1&orderby=lastest&viewtype=idea">
                    <img style="display: inline-block;" src="/images/logo1.png"
                         width="100px" />
                </a>
            </div>
           <nav id="nav_bar" class="res-menu">
                <ul class="sub_nav">
                    <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link dropdown-toggle" style="color: #373b3f" href="#" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Event
                        </a>
                        <div class="dropdown-menu">
                            <div class="agile_inner_drop_nav_info p-4">
                                <div class="row">
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul class="dropdown">
                                            @foreach(var e in ViewBag.Event)
                                            {
                                                <li><a href="/staff/viewpage?pageNum=1&orderby=lastest&viewtype=evt&id=@e.EventId">@e.EventName</a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link dropdown-toggle" style="color: #373b3f" href="#" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Category
                        </a>
                        <div class="dropdown-menu">
                            <div class="agile_inner_drop_nav_info p-4">
                                <div class="row">
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul>
                                            @foreach(var c in ViewBag.Category)
                                            {
                                                <li><a href="/staff/viewpage?pageNum=1&orderby=lastest&viewtype=cat&id=@c.CategoryId">@c.category_name</a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                        <a class="nav-link dropdown-toggle" style="color: #373b3f" href="#" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Department
                        </a>
                        <div class="dropdown-menu">
                            <div class="agile_inner_drop_nav_info p-4">
                                <div class="row">
                                    <div class="col-sm-6 multi-gd-img">
                                        <ul>
                                            @foreach (var d in ViewBag.Department)
                                            {
                                                <li><a href="/staff/viewpage?pageNum=1&orderby=lastest&viewtype=dep&id=@d.DepId">@d.Dep_name</a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="header_search">
                <div class="search">
                        <input class="input" name="keyword" id="form1" placeholder="Search" type="search">
                </div>
            </div>
            <div class="nav_icon">
                <ul class="menu icon">
                    <li class="icon_account nav_bar--item--separate" style="color: #373b3f; font-weight: bold">@ViewBag.LoginedUserName</li>
                    <li class="icon_account"><a style="color: #373b3f; text-decoration: none" href="/Staff/viewpage?pageNum=1&orderby=lastest&viewtype=idea"><i class="fa-solid fa-house"></i></a></li> &nbsp &nbsp
                    <li class="icon_account">
                        <form asp-area="Identity" asp-page="/Account/Logout" method="post">
                            <button class="btn btn-light" style="color: #373b3f; text-decoration: none" type="submit">
                                <i class="fa-solid fa-right-from-bracket"></i>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
            
              @* Responsive mobile and tablet*@
            <div class="icon_bar">
                <label for="check" class="bar">
                    <input id="check_icon" type="checkbox">
                    <span class="top"></span>
                    <span class="middle"></span>
                    <span class="bottom"></span>
                </label>

            </div>
            <input id="check" hidden type="checkbox" class="input_check">
            <label for="check" class="overlay"></label>

            <div class="idea_mobile">
                <div class="all_idea_mobile">
                    <h1>Menu</h1>
                    <ul class="shortcuts_mobile">
                        <li class="nav_bar--item nav_bar--item--separate2"><i class="fa-solid fa-shop"></i><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
                    </ul>
                    <ul class="shortcuts_mobile">
                        <li class="nav_bar--item "><i class="fa-regular fa-user"></i><a asp-action="Profile" asp-controller="Staff">Profile</a></li>
                        <li class="nav_bar--item "><i class="fa-solid fa-street-view"></i><a href="/staff/viewpage?pagenum=1&viewtype=mostview">Most Viewed Ideas</a></li>
                        <li class="nav_bar--item "><i class="fa-solid fa-face-laugh-wink"></i><a href="/staff/viewpage?pageNum=1&viewtype=popular">Most Emotion ideas</a></li>
                        <li class="nav_bar--item "><i class="fa-regular fa-lightbulb"></i><a href="/staff/viewpage?pageNum=1&viewtype=lastest">Latest Ideas</a></li>
                        @*<li class="nav_bar--item "><i class="fa-solid fa-right-from-bracket"></i><a href="/Identity/Account/Logout?returnUrl=%2F%3Fpage%3D%252F">Logout</a></li>*@
                        <li class="nav_bar--item ">
                            <form class="logout_moblie" asp-area="Identity" asp-page="/Account/Logout" method="post">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                <button type="submit">Logout</button>
                            </form>
                        </li>
                    </ul>
                     <ul class="sub_nav shortcuts_mobile">
                        <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                            <a class="nav-link dropdown-toggle" style="color: #373b3f" href="#" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Event
                            </a>
                            <div class="dropdown-menu">
                                <div class="agile_inner_drop_nav_info p-4">
                                    <div class="row">
                                        <div class="col-sm-6 multi-gd-img">
                                            <ul class="dropdown">
                                                @foreach (var e in ViewBag.Event)
                                                {
                                                    <li><a href="/staff/viewpage?pageNum=1&orderby=lastest&viewtype=evt&id=@e.EventId">@e.EventName</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                            <a class="nav-link dropdown-toggle" style="color: #373b3f" href="#" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Category
                            </a>
                            <div class="dropdown-menu">
                                <div class="agile_inner_drop_nav_info p-4">
                                    <div class="row">
                                        <div class="col-sm-6 multi-gd-img">
                                            <ul>
                                                @foreach (var c in ViewBag.Category)
                                                {
                                                    <li><a href="/staff/viewpage?pageNum=1&orderby=lastest&viewtype=cat&id=@c.CategoryId">@c.category_name</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown mr-lg-2 mb-lg-0 mb-2">
                            <a class="nav-link dropdown-toggle" style="color: #373b3f" href="#" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                Department
                            </a>
                            <div class="dropdown-menu">
                                <div class="agile_inner_drop_nav_info p-4">
                                    <div class="row">
                                        <div class="col-sm-6 multi-gd-img">
                                            <ul>
                                                @foreach (var d in ViewBag.Department)
                                                {
                                                    <li><a href="/staff/viewpage?pageNum=1&orderby=lastest&viewtype=dep&id=@d.DepId">@d.Dep_name</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        
        <div class="container-fluid">
            <main role="main">
                @RenderBody()

            </main>
        </div>
    </div>
    @RenderSection("scripts", required: false)
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</body> 
</html>




