@model COMP1640.Models.Account

@{
    Layout = "_LayoutCreateAccount";
}


@*<h2 class="text-uppercase text-center mb-5">Creating<br /><b>New Account</b></h2>

<form method="post" asp-controller="Admin" asp-action="CreateAccount">
        <div class="form-group">
            <input type="text" class="form-control form-control-lg"
                asp-for="@Model.Username" placeholder="Username" />
            <span class="text-danger" asp-validation-for="@Model.Username"></span>
        </div>

        <br />

        <div>
            <select class="form-select" asp-for="@Model.Role" required>
                <option selected disabled>Choose the account role</option>
                <option value="STAFF">Staff</option>
                <option value="QAM">Quality Assurance Manager</option>
                <option value="QAC">Quality Assurance Coordinator</option>
            </select>
            <span class="text-danger" asp-validation-for="@Model.Role"></span>
        </div>

        <br />

        <div class="form-group">
            <input type="text" class="form-control form-control-lg" 
                asp-for="@Model.Password" placeholder="Password" />
            <span class="text-danger" asp-validation-for="@Model.Password"></span>
        </div>

        <br />
        <br />

        <div class="form-group">
            <input type="submit" class="btn btn-danger" value="Add" />
            <a class="btn btn-success" asp-controller="Admin" asp-action="Dashboard">Cancel</a>
        </div>

</form>*@

<div class="center">
    <h2><b>Create account</b></h2>
    <form method="post">
        <div class="txt_field">
            <input type="text" required/>
            <span></span>
            <label>Email</label>
        </div>
        <div class="txt_field">
            <input type="password" required/>
            <span></span>
            <label>Password</label>
        </div>

        <div class="txt_field">
            <input type="password" required />
            <span></span>
            <label>Re-password</label>
        </div>
        <div class="check">I agree to <a href="#">Terms and Conditions</a></div>
        <input class="check-btn" type="checkbox" />

        <input type="submit" value="Create"/>
    </form>
</div>