@model COMP1640.Models.Profile
@{
    Layout = "_LayoutManageInformation";
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
{
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Account</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Admin" asp-action="ManageInformation" method="post" enctype="multipart/form-data">
                    <h1 class="display-6">Edit this Account</h1>
                    <div class="form-group">
                        <input hidden class="form-control" asp-for="@Model.Id" />
                    </div>

                    <div class="avatar-form">
                        <label class="font-weight-bold">Avatar</label>
                        <input class="buttonUpload" asp-for="Avatar" type="file" id="uploadedAva" name="uploadedAva">
                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold">Name</label>
                        <input class="form-control" asp-for="@Model.Name" placeholder="@Model.Name"/>
                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold">Email</label>
                        <input type="email" class="form-control" asp-for="@Model.Email" placeholder="@Model.Email">
                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold">Phone number</label>
                        <input type="tel" class="form-control" asp-for="@Model.PhoneNumber" placeholder="@Model.PhoneNumber">
                    </div>

                    <div class="form-group">
                        <label asp-for="DoB" class="labels">Date of Birth</label>
                        <input type="date" class="form-control" asp-for="DoB" placeholder="@Model.DoB">
                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold">Gender</label>
                        <div class="gender-option">
                            <div class="gender">
                                <input id="male" type="radio" asp-for="@Model.Gender" value="Male"/>
                                <label for="check-male">Male</label>
                            </div>
                            <div class="gender">
                                <input id="female" type="radio" asp-for="@Model.Gender" value="Female"/>
                                <label for="check-female">Female</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold">Address</label>
                        <input class="form-control" asp-for="@Model.Address" placeholder="@Model.Address"/>
                    </div>

                    
                    <button type="submit" class="btn btn-success">Update</button>
                </form>

                <form asp-controller="Admin" asp-action="ResetPassword" method="post">
                    <h2 class="display-6">Reset Password</h2>
                    <div class="form-group">
                        <input hidden class="form-control" asp-for="@Model.Id" />
                    </div>

                    <div class="form-group">
                        <label class="font-weight-bold">Password</label>
                        <input type="password" class="form-control" asp-for="@Model.PasswordHash" placeholder="Enter new password" required>
                    </div>

                    <a type="button" class="btn btn-secondary" data-dismiss="modal" asp-controller="Admin" asp-action="ManageAccount">
                        Close
                    </a>

                    <button type="submit" class="btn btn-success">Update</button>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            if ("@Model.Gender" == "") {
                $("#male").attr("checked");
                $("#female").attr("checked");
            }
            else if ("@Model.Gender" == "Male") {
                $("#male").attr("checked", "checked");
                $("#female").attr("checked");
            }
            else if ("@Model.Gender" == "Female") {
                $("#male").attr("checked");
                $("#female").attr("checked", "checked");
            }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
}