@model List<Profile>

@{
    Layout = "_LayoutManageAccount";
}
@*@if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
{
    <div class="content_post">
        <div class="add_btn">
        </div>
        <div class="category_table">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">User ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Action</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var acc in Model)
                    {
                        <tr>
                            <td>@acc.Id</td>
                            <td>@acc.Name</td>
                            <td>@acc.Email</td>
                            <td>
                                <a asp-controller="Admin" asp-action="ManageAccountInformation" asp-route-id="@acc.Id">
                                    <button class="edit">
                                        <svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="#FFFFFF" height="24" width="24" viewBox="0 0 24 24">
                                            <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                        </svg>
                                        Edit
                                    </button>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}*@

@if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
{
    @*Main content*@
    <div class="h-screen flex-grow-1 overflow-y-lg-auto">
        <!-- Header -->
        <header class="bg-surface-primary border-bottom pt-6">
            <div class="container-fluid">
                <div class="mb-npx">
                    <div class="row align-items-center">
                        <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                            <!-- Title -->
                            <h1 class="h2 mb-0 ls-tight">Application</h1>
                        </div>
                        <!-- Actions -->
                        <div class="col-sm-6 col-12 text-sm-end">
                            <div class="mx-n1">
                                <a class="btn d-inline-flex btn-sm btn-primary mx-1" asp-area="Identity" asp-page="/Account/Register">
                                    <span class=" pe-2">
                                        <i class="fa fa-plus-circle"></i>
                                    </span>
                                    <span>Create</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Nav -->
                    <ul class="nav nav-tabs mt-4 overflow-x border-0">
                        <li class="nav-item ">
                            <a asp-controller="Admin" asp-action="dashboard" class="nav-link active">All Content</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-regular">Shared</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <!-- Main -->
        <main class="py-6 bg-surface-secondary">
            <div class="container-fluid">
                <div class="card mb-7">
                    <div class="card-header">
                        <h5 class="mb-0">Manage account staff</h5>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-nowrap">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">No.</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var acc in Model)
                                {
                                    <tr>
                                        <td>@acc.Id</td>
                                        <td>@acc.Email</td>
                                        <td>@acc.Name</td>
                                        <td class="text-end">
                                            <a class="btn btn-sm btn-set" asp-controller="Admin" asp-action="ManageAccountInformation" asp-route-id="@acc.Id">Edit</a>
                                            <a class="btn btn-sm btn-edit">Delete</a>
                                        </td>
                                    </tr>                                  
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer border-0 py-5">
                        <span class="text-muted text-sm">Showing 8 account out of 100 results found</span>
                    </div>
                </div>
            </div>
        </main>
    </div>
}